---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/8?api_key=<API Key>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - ec9bad96442473da61ea8ff140b4dad3a3c640b0
      X-Memc-Age:
      - '2029'
      X-Memc-Expires:
      - '14982'
      Etag:
      - W/"436c73fae9a24dbed4b50a03c29f2c18"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":42000,"genres":[{"id":99,"name":"Documentary"}],"homepage":"http://lifeinloops.com","id":8,"imdb_id":"tt0825671","original_language":"en","original_title":"Life
        in Loops (A Megacities RMX)","overview":"Timo Novotny labels his new project
        an experimental music documentary film, in a remix of the celebrated film
        Megacities (1997), a visually refined essay on the hidden faces of several
        world \"megacities\" by leading Austrian documentarist Michael Glawogger.
        Novotny complements 30 % of material taken straight from the film (and re-edited)
        with 70 % as yet unseen footage in which he blends original shots unused by
        Glawogger with his own sequences (shot by Megacities cameraman Wolfgang Thaler)
        from Tokyo. Alongside the Japanese metropolis, Life in Loops takes us right
        into the atmosphere of Mexico City, New York, Moscow and Bombay. This electrifying
        combination of fascinating film images and an equally compelling soundtrack
        from Sofa Surfers sets us off on a stunning audiovisual adventure across the
        continents. The film also makes an original contribution to the discussion
        on new trends in documentary filmmaking. Written by KARLOVY VARY IFF 2006","popularity":2.259,"poster_path":"/x7Sz339F2oC8mBf0DHCQpKizXaL.jpg","production_companies":[{"id":19123,"logo_path":null,"name":"inLoops","origin_country":""}],"production_countries":[{"iso_3166_1":"AT","name":"Austria"}],"release_date":"2006-01-01","revenue":0,"runtime":80,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Hindi","iso_639_1":"hi","name":"हिन्दी"},{"english_name":"Japanese","iso_639_1":"ja","name":"日本語"},{"english_name":"Russian","iso_639_1":"ru","name":"Pусский"},{"english_name":"Spanish","iso_639_1":"es","name":"Español"}],"status":"Released","tagline":"A
        Megacities remix.","title":"Life in Loops (A Megacities RMX)","video":false,"vote_average":7.738,"vote_count":21}'
  recorded_at: Fri, 14 Oct 2022 01:05:15 GMT
[...]
