---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/18?api_key=fake_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cdn-Pullzone:
      - '775334'
      Cdn-Uid:
      - 29af4e0e-bcbd-4fcb-8635-74ddc38a1ebf
      Cdn-Requestcountrycode:
      - US
      Etag:
      - W/"e390aedf077debc167810961b6213292"
      X-Memc:
      - HIT
      X-Memc-Key:
      - 751838443ce0bf2eed662f2001f888f4d3efaee7
      X-Memc-Age:
      - '654'
      X-Memc-Expires:
      - '14942'
      Cdn-Proxyver:
      - '1.02'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 07/10/2022 16:20:05
      Cdn-Edgestorageid:
      - '885'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 4abcda0664c59488805f150a562d7d2a
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/dwN0kPGrLbFRxyL3F3J3t4ShQx.jpg","belongs_to_collection":null,"budget":90000000,"genres":[{"id":12,"name":"Adventure"},{"id":14,"name":"Fantasy"},{"id":28,"name":"Action"},{"id":53,"name":"Thriller"},{"id":878,"name":"Science
        Fiction"}],"homepage":"","id":18,"imdb_id":"tt0119116","original_language":"en","original_title":"The
        Fifth Element","overview":"In 2257, a taxi driver is unintentionally given
        the task of saving a young girl who is part of the key that will ensure the
        survival of humanity.","popularity":48.753,"poster_path":"/fPtlCO1yQtnoLHOwKtWz7db6RGU.jpg","production_companies":[{"id":9,"logo_path":"/nda3dTUYdDrJ6rZqBpYvY865aDv.png","name":"Gaumont","origin_country":"FR"},{"id":5892,"logo_path":"/fKJpBjX1Q39jChmSQAaSVw5VaB0.png","name":"Buena
        Vista International","origin_country":"US"}],"production_countries":[{"iso_3166_1":"FR","name":"France"},{"iso_3166_1":"GB","name":"United
        Kingdom"}],"release_date":"1997-05-02","revenue":263920180,"runtime":126,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Swedish","iso_639_1":"sv","name":"svenska"},{"english_name":"German","iso_639_1":"de","name":"Deutsch"}],"status":"Released","tagline":"There
        is no future without it.","title":"The Fifth Element","video":false,"vote_average":7.5,"vote_count":9040}'
  recorded_at: Sun, 10 Jul 2022 16:20:05 GMT
recorded_with: VCR 6.1.0
