---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/505?api_key=<movie_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 311da871cc80de448d8898ff3a4b02d56e2aec87
      X-Memc-Age:
      - '15585'
      X-Memc-Expires:
      - '464'
      Etag:
      - W/"c0d738b0224ff72af8cb934dbdffe587"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/v7baGyne7CsLxnM2maMwIxKZdVF.jpg","belongs_to_collection":null,"budget":20000000,"genres":[{"id":80,"name":"Crime"},{"id":18,"name":"Drama"}],"homepage":"","id":505,"imdb_id":"tt0097626","original_language":"en","original_title":"Johnny
        Handsome","overview":"A career criminal who has been deformed since birth
        is given a new face by a kindly doctor and paroled from prison. It appears
        that he has gone straight, but he is really planning his revenge on the man
        who killed his mentor and sent him to prison.","popularity":10.083,"poster_path":"/hdEIkpL17rvfZH0l34FJ8H9LAa.jpg","production_companies":[{"id":275,"logo_path":"/2MxNWlN5b3UXt1OfmznsWEQzFwq.png","name":"Carolco
        Pictures","origin_country":"US"},{"id":276,"logo_path":null,"name":"Guber/Peters
        Company","origin_country":""},{"id":277,"logo_path":null,"name":"Roven Productions","origin_country":""}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1989-09-12","revenue":7237794,"runtime":94,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"They
        changed his looks, his life and his future... but they couldn''t change his
        past .","title":"Johnny Handsome","video":false,"vote_average":6.284,"vote_count":199}'
  recorded_at: Fri, 26 Aug 2022 16:44:58 GMT
recorded_with: VCR 6.1.0
