---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/290?api_key=Sike you thought
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - Sike you thought
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - d7dca9fc1457d9f7124c477007e07fb817785ee9
      X-Memc-Age:
      - '4693'
      X-Memc-Expires:
      - '12322'
      Etag:
      - W/"25a794c8b58da4bb2fdf36f4f69300eb"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/hjGLcwWg2F0BJB1zUFMzwrm7uqg.jpg","belongs_to_collection":null,"budget":9000000,"genres":[{"id":35,"name":"Comedy"},{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"","id":290,"imdb_id":"tt0101410","original_language":"en","original_title":"Barton
        Fink","overview":"A renowned New York playwright is enticed to California
        to write for the movies and discovers the hellish truth of Hollywood.","popularity":9.957,"poster_path":"/846d8FclibtOIoUW7PxpT0nCG4C.jpg","production_companies":[{"id":10163,"logo_path":"/16KWBMmfPX0aJzDExDrPxSLj0Pg.png","name":"Working
        Title Films","origin_country":"GB"},{"id":11273,"logo_path":null,"name":"Circle
        Films","origin_country":""},{"id":25,"logo_path":"/qZCc1lty5FzX30aOCVRBLzaVmcp.png","name":"20th
        Century Fox","origin_country":"US"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1991-08-01","revenue":6153939,"runtime":117,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"What''s
        in his head","title":"Barton Fink","video":false,"vote_average":7.5,"vote_count":1303}'
  recorded_at: Mon, 23 May 2022 17:08:58 GMT
[...]
