---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/100?api_key=<fake_api_key>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 6f4c2280f4a0a7993e5dfaea76a290f45af97d9d
      X-Memc-Age:
      - '6135'
      X-Memc-Expires:
      - '10551'
      Etag:
      - W/"200038e7bd45fbd0f015b830adc39f94"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/tY6zVyt0OubPgCapbXFJLKhQqSu.jpg","belongs_to_collection":null,"budget":1350000,"genres":[{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"}],"homepage":"http://www.universalstudiosentertainment.com/lock-stock-and-two-smoking-barrels/","id":100,"imdb_id":"tt0120735","original_language":"en","original_title":"Lock,
        Stock and Two Smoking Barrels","overview":"A card shark and his unwillingly-enlisted
        friends need to make a lot of cash quick after losing a sketchy poker match.
        To do this they decide to pull a heist on a small-time gang who happen to
        be operating out of the flat next door.","popularity":12.845,"poster_path":"/8kSerJrhrJWKLk1LViesGcnrUPE.jpg","production_companies":[{"id":491,"logo_path":"/rUp0lLKa1pr4UsPm8fgzmnNGxtq.png","name":"Summit
        Entertainment","origin_country":"US"},{"id":21920,"logo_path":null,"name":"The
        Steve Tisch Company","origin_country":""},{"id":13419,"logo_path":null,"name":"SKA
        Films","origin_country":""},{"id":1382,"logo_path":"/sOg7LGESPH5vCTOIdbMhLuypoLL.png","name":"PolyGram
        Filmed Entertainment","origin_country":"US"},{"id":20076,"logo_path":"/i9qXGJIP9fGN22PP5jXUVENbyHi.png","name":"HandMade
        Films","origin_country":"GB"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"}],"release_date":"1998-08-28","revenue":28356188,"runtime":105,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        Disgrace to Criminals Everywhere.","title":"Lock, Stock and Two Smoking Barrels","video":false,"vote_average":8.2,"vote_count":5261}'
  recorded_at: Wed, 16 Feb 2022 18:18:35 GMT
recorded_with: VCR 6.0.0
