---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/5244?api_key=tmdb_key&language=en-US&x-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 8033e21c8d7bc3c58320ec4d0a4eb0ee25a10e53
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17388'
      Last-Modified:
      - '2021-06-29 02:22:08 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":18,"name":"Drama"},{"id":878,"name":"Science
        Fiction"},{"id":10749,"name":"Romance"}],"homepage":"","id":5244,"imdb_id":"tt0197770","original_language":"en","original_title":"Pleasurecraft","overview":"A
        crew of astronauts are tasked with delivering three beautiful women to their
        superiors. Provided that they don''t get seduced by them before reaching their
        destination.","popularity":1.795,"poster_path":"/A9wVs8unGUBwQgXcsJuL0w0dkcK.jpg","production_companies":[{"id":1889,"logo_path":null,"name":"Surrender
        Cinema","origin_country":""}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1999-01-01","revenue":0,"runtime":82,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Pleasurecraft","video":false,"vote_average":1.0,"vote_count":2}'
  recorded_at: Wed, 23 Mar 2022 23:51:09 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/5244/credits?api_key=tmdb_key&language=en-US&x-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 753b3754afe84496f7d4ba8bc3b3736afdbd2ee8
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17167'
      Last-Modified:
      - '2021-06-29 02:22:08 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":5244,"cast":[{"adult":false,"gender":0,"id":42232,"known_for_department":"Acting","name":"Juan
        Carlos","original_name":"Juan Carlos","popularity":0.6,"profile_path":null,"cast_id":8,"character":"Jason","credit_id":"52fe43ffc3a36847f807c6cd","order":0},{"adult":false,"gender":0,"id":42233,"known_for_department":"Acting","name":"Billy
        Riverside","original_name":"Billy Riverside","popularity":0.6,"profile_path":null,"cast_id":9,"character":"Carter","credit_id":"52fe43ffc3a36847f807c6d1","order":1},{"adult":false,"gender":0,"id":42234,"known_for_department":"Acting","name":"Paul
        Johnson","original_name":"Paul Johnson","popularity":0.84,"profile_path":null,"cast_id":10,"character":"Dax","credit_id":"52fe43ffc3a36847f807c6d5","or[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/5244/reviews?api_key=tmdb_key&language=en-US&x-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c856fcbf07872c5fc6bbcf4989d376f966abf707
      X-Memc-Age:
      - '1196'
      X-Memc-Expires:
      - '14473'
      Etag:
      - W/"ac6bb16dc9cc3fa60f1582c90da3dac1"
    body:
      encoding: ASCII-8BIT
      string: '{"id":5244,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 23 Mar 2022 23:51:09 GMT
recorded_with: VCR 6.1.0
