<h1 style="text-align: center;"><%= @user.name %>'s Dashboard</h1>

<div style="margin: auto; width: 10%;">
<%= button_to "Discover Movies", user_discover_index_path(@user), method: :get %>
</div>

<% @user.viewing_parties.each do |vp| %>
  <div id="viewing_party_<%= vp.id %>">
    <p>Viewing Party <%= vp.id %></p>
  </div>
<% end %>