---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated?api_key=<API Key>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/ejniJnlOdtSgtbh8D7u2RxT6Uli.jpg","genre_ids":[35,14],"id":772071,"original_language":"es","original_title":"Cuando
        Sea Joven","overview":"70-year-old Malena gets a second chance at life when
        she magically turns into her 22-year-old self. Now, posing as \"Maria\" to
        hide her true identity, she becomes the lead singer of her grandson''s band
        and tries to recover her dream of singing, which she had to give up at some
        point.","popularity":57.479,"poster_path":"/6gIJuFHh5Lj4dNaPG3TzIMl7L68.jpg","release_date":"2022-09-14","title":"Cuando
        Sea Joven","video":false,"vote_average":8.8,"vote_count":203},{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        o[...]
[...]
