---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/278/images?api_key=<movie_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 8345a7657e6a663827a812a92c8729e90e84f197
      X-Memc-Age:
      - '11759'
      X-Memc-Expires:
      - '2818'
      Etag:
      - W/"e2e35fa7f2ee575f01d28003b6bc3836"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.778,"height":1440,"iso_639_1":null,"file_path":"/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg","vote_average":5.454,"vote_count":3,"width":2560},{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/iNh3BivHyg5sQRPP1KOkzguEX0H.jpg","vote_average":5.396,"vote_count":12,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"pt","file_path":"/tXHpvlr5F7gV5DwgS7M5HBrUi2C.jpg","vote_average":5.392,"vote_count":8,"width":1920},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/wPU78OPN4BYEgWYdXyg0phMee64.jpg","vote_average":5.39,"vote_count":6,"width":3840},{"aspect_ratio":1.778,"height":1080,"iso_639[...]
