---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/11868/credits?api_key=7fd3e34e3d973aa106520ced8310b3eb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 58459869b5f260c52ae59d366fb37d8adb1f4e49
      X-Memc-Age:
      - '13158'
      X-Memc-Expires:
      - '1627'
      Etag:
      - W/"cc8f61b81ecb1a0e003b62c5522fb8cd"
    body:
      encoding: ASCII-8BIT
      string: '{"id":11868,"cast":[{"adult":false,"gender":2,"id":5,"known_for_department":"Acting","name":"Peter
        Cushing","original_name":"Peter Cushing","popularity":12.407,"profile_path":"/if5g03wn6uvHx7F6FxXHLebKc0q.jpg","cast_id":1,"character":"Doctor
        Van Helsing","credit_id":"52fe44969251416c7503a173","order":0},{"adult":false,"gender":2,"id":113,"known_for_department":"Acting","name":"Christopher
        Lee","original_name":"Christopher Lee","popularity":9.782,"profile_path":"/dA26fBr3t7mKqjn3OYW6kbD1LXM.jpg","cast_id":2,"character":"Count
        Dracula","credit_id":"52fe44969251416c7503a177","order":1},{"adult":false,"gender":2,"id":3796,"known_for_department":"Acting","name":"Michael
        Gough","original_name":"Michael Gough","popularity":6.978,"profile_path":"/owcwnV6dymBd9YIQKDPzVA5EtZX.j[...]
