---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/889?api_key=<movie_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - cd1eb6ba17d948cffd4905ff3df007c2ab6811e8
      X-Memc-Age:
      - '1686'
      X-Memc-Expires:
      - '13027'
      Etag:
      - W/"db8c41749bcbb67b12cedf38136c34ad"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/5TgtoN4NjBsRD8PksQSDdWVjuWC.jpg","belongs_to_collection":{"id":351684,"name":"The
        Flintstones Collection","poster_path":"/d9fvJfCItbQFjjHXCqnenMYxsP8.jpg","backdrop_path":"/qD0rip0E8EcRcjCPcdu5wUknLZJ.jpg"},"budget":83000000,"genres":[{"id":35,"name":"Comedy"},{"id":10751,"name":"Family"},{"id":10749,"name":"Romance"}],"homepage":"","id":889,"imdb_id":"tt0158622","original_language":"en","original_title":"The
        Flintstones in Viva Rock Vegas","overview":"The Flintstones are at it again.
        The Flintstones and the Rubbles head for Rock Vegas with Fred hoping to court
        the lovely Wilma. Nothing will stand in the way of love, except for the conniving
        Chip Rockefeller who is the playboy born in Baysville but who has made it
        in the cutthroat town of Rock Vegas. Will Fred win Wilma''s love?","popularity":17.471,"poster_path":"/nEkMYwctrUH8ueaAcJFZnAEltMX.jpg","production_companies":[{"id":33,"logo_path":"/8lvHyhjr8oUKOOy2dKXoALWKdp0.png","name":"Universal
        Pictures","origin_country":"US"},{"id":56,"logo_path":"/cEaxANEisCqeEoRvODv2dO1I0iI.png","name":"Amblin
        Entertainment","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2000-04-28","revenue":59468275,"runtime":90,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Get
        ready to rock!","title":"The Flintstones in Viva Rock Vegas","video":false,"vote_average":4.792,"vote_count":618}'
  recorded_at: Wed, 12 Oct 2022 21:50:37 GMT
[...]
