<h1><center> Viewing Party Lite! </center></h1>
<hr>
<br>
<br>
<% if current_user %>
  <%= link_to 'Log out' %>
<% else %>
  <%= link_to 'Create a new user', register_path %><br>
  <%= link_to 'I already have an account', login_path %>
<% end %>
<br>
<br>
<h3><strong> Existing Users </strong></h3>
<% @users.each do |user| %>
  <p><%= link_to user.email, user_path(user) %> </p>
<% end %>