---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/36685?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 945770bc5c1725a8a608bc7b415179417cdece6a
      X-Memc-Age:
      - '6874'
      X-Memc-Expires:
      - '7967'
      Etag:
      - W/"c9a0f255684ce77ba7a430e04244f151"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/5DU39tmUzbXtD6UXgm7iZqxpwoV.jpg","belongs_to_collection":{"id":694606,"name":"The
        Rocky Horror Picture Show Collection","poster_path":"/aZJ0gncaRSywxR6yZLAeQYoDpkQ.jpg","backdrop_path":"/oPmhtP3C6rOkAJ55tcmCXOPFVOX.jpg"},"budget":1200000,"genres":[{"id":35,"name":"Comedy"},{"id":878,"name":"Science
        Fiction"},{"id":14,"name":"Fantasy"},{"id":27,"name":"Horror"}],"homepage":"http://www.rockyhorror.com","id":36685,"imdb_id":"tt0073629","original_language":"en","original_title":"The
        Rocky Horror Picture Show","overview":"Sweethearts Brad and Janet, stuck with
        a flat tire during a storm, discover the eerie mansion of Dr. Frank-N-Furter,
        a transvestite scientist. As their innocence is lost, Brad and Janet meet
        a houseful of wild characters, including a rocking biker and a creepy butler.
        Through elaborate dances and rock songs, Frank-N-Furter unveils his latest
        creation: a muscular man named ''Rocky''.","popularity":17.155,"poster_path":"/3pyE6ZqDbuJi7zrNzzQzcKTWdmN.jpg","production_companies":[{"id":25,"logo_path":"/qZCc1lty5FzX30aOCVRBLzaVmcp.png","name":"20th
        Century Fox","origin_country":"US"},{"id":463,"logo_path":null,"name":"Michael
        White Productions","origin_country":""}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1975-08-14","revenue":112892319,"runtime":100,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        different set of jaws.","title":"The Rocky Horror Picture Show","video":false,"vote_average":7.5,"vote_count":2266}'
  recorded_at: Sun, 10 Jul 2022 19:37:37 GMT
[...]
