---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<movie_api_key>&include_adult=false&language=en-US&page=1&query=tropic%20thunder
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/1riTqK5ouEgjTs69MVm0F8dXilZ.jpg","genre_ids":[28,35,12,10752],"id":7446,"original_language":"en","original_title":"Tropic
        Thunder","overview":"Ben Stiller, Jack Black and Robert Downey Jr. lead an
        ensemble cast in ''Tropic Thunder,'' an action comedy about a group of self-absorbed
        actors who set out to make the most expensive war film. After ballooning costs
        force the studio to cancel the movie, the frustrated director refuses to stop
        shooting, leading his cast into the jungles of Southeast Asia, where they
        encounter real bad guys.","popularity":45.009,"poster_path":"/zAurB9mNxfYRoVrVjAJJwGV3sPg.jpg","release_date":"2008-08-09","title":"Tropic
        Thunder","video":false,"vote_average":6.6,"vote_count":4927},{"adult":false,"backdrop_path":null,"genre_ids":[28,35],"id":36131,"original_language":"en","original_title":"Tropic
        Thunder: Rain of Madness","overview":"A behind-the-scenes mockumentary of
        Tropic Thunder.","popularity":3.422,"poster_path":"/a1Lfo4lZbrhHXOmj32a0XsGjBk7.jpg","release_date":"2008-08-26","title":"Tropic
        Thunder: Rain of Madness","video":false,"vote_average":6.6,"vote_count":47},{"adult":false,"backdrop_path":"/te53U4eIxg2GdjpNCfmhHK7IXTo.jpg","genre_ids":[],"id":453544,"original_language":"en","original_title":"PROGRESS
        Chapter 43: Tropic Thunderbastard","overview":"Chapter 43: Tropic Thunderbastard  Show
        date: 29th January 2017  The Riots vs Kings Of The North  Chakara vs Laura
        Di Matteo  ''Bodyguy'' Roy Johnson vs Jurn Simmons  Ringkampf vs South Pacific
        Power Trip  Thunderbastard Match: Trent Seven vs Jack Sexsmith vs Marty Scurll
        vs Mark Andrews vs Dave Mastiff vs Zack Gibson vs Nathan Cruz vs Pastor William
        Eaver  PROGRESS World Title Match: Pete Dunne (c) vs Jimmy Havoc","popularity":0.6,"poster_path":"/bTEJ3D6QsmJpPcE3BvxmJvW42OM.jpg","release_date":"2017-01-29","title":"PROGRESS
        Chapter 43: Tropic Thunderbastard","video":true,"vote_average":0,"vote_count":0}],"total_pages":1,"total_results":3}'
  recorded_at: Mon, 23 May 2022 20:12:18 GMT
recorded_with: VCR 6.1.0
