---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/505/credits?api_key=<movie_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5a17f3f289bd1461c53768363d79512f9792e863
      X-Memc-Age:
      - '10862'
      X-Memc-Expires:
      - '4636'
      Etag:
      - W/"2c8e5cf524039d44461e99f5d3c6de2b"
    body:
      encoding: ASCII-8BIT
      string: '{"id":505,"cast":[{"adult":false,"gender":2,"id":2295,"known_for_department":"Acting","name":"Mickey
        Rourke","original_name":"Mickey Rourke","popularity":36.319,"profile_path":"/i6vXukUwRsJa7S9yhZgoKt9xLDv.jpg","cast_id":4,"character":"Johnny
        Handsome","credit_id":"52fe424bc3a36847f80130f1","order":0},{"adult":false,"gender":1,"id":6913,"known_for_department":"Acting","name":"Ellen
        Barkin","original_name":"Ellen Barkin","popularity":23.128,"profile_path":"/lrmzR8IXsJoIuahKfXSgUHajr9j.jpg","cast_id":5,"character":"Sunny
        Boyd","credit_id":"52fe424bc3a36847f80130f5","order":1},{"adult":false,"gender":2,"id":192,"known_for_department":"Acting","name":"Morgan
        Freeman","original_name":"Morgan Freeman","popularity":55.703,"profile_path":"/905k0RFzH0Kd6gx8oSxRdnr6FL.jpg","c[...]
