---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1381?api_key=e2d1402726608719026ca6424f229bcf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cdn-Pullzone:
      - '775334'
      Cdn-Uid:
      - 29af4e0e-bcbd-4fcb-8635-74ddc38a1ebf
      Cdn-Requestcountrycode:
      - US
      Etag:
      - W/"e24ef46f951adbad1372ec3086eb6c29"
      X-Memc:
      - HIT
      X-Memc-Key:
      - e451622255e495378b9fb685aaa29ea034614a35
      X-Memc-Age:
      - '2189'
      X-Memc-Expires:
      - '15067'
      Cdn-Proxyver:
      - '1.02'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 05/24/2022 18:28:40
      Cdn-Edgestorageid:
      - '616'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - c0f5c1f9f94546b835db4b92e1085927
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/9RNJ0pKYA8EQiMa0lFZ68gzeElH.jpg","belongs_to_collection":null,"budget":35000000,"genres":[{"id":18,"name":"Drama"},{"id":12,"name":"Adventure"},{"id":878,"name":"Science
        Fiction"},{"id":10749,"name":"Romance"}],"homepage":"http://thefountainmovie.warnerbros.com/","id":1381,"imdb_id":"tt0414993","original_language":"en","original_title":"The
        Fountain","overview":"Spanning over one thousand years, and three parallel
        stories, The Fountain is a story of love, death, spirituality, and the fragility
        of our existence in this world.","popularity":12.235,"poster_path":"/tnmkVAYrHITpdKgmZ7CzVBEI4ho.jpg","production_companies":[{"id":508,"logo_path":"/7PzJdsLGlR7oW4J0J5Xcd0pHGRg.png","name":"Regency
        Enterprises","origin_country":"US"},{"id":7503,"logo_path":"/3K8wbNkTn7O4wX89ucnp1ZYR1XF.png","name":"Protozoa
        Pictures","origin_country":"US"},{"id":10104,"logo_path":"/hNuGhsKVlmhnwSRcmOejDBDjh6w.png","name":"New
        Regency Pictures","origin_country":"US"},{"id":6438,"logo_path":"/hQVRii7CRnfG0rowSEc6ibt2Pke.png","name":"Muse
        Entertainment","origin_country":"CA"},{"id":174,"logo_path":"/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png","name":"Warner
        Bros. Pictures","origin_country":"US"},{"id":54502,"logo_path":null,"name":"Mel''s
        Cite du Cinema","origin_country":""}],"production_countries":[{"iso_3166_1":"CA","name":"Canada"},{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2006-11-22","revenue":15304890,"runtime":96,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Death
        is the road to awe","title":"The Fountain","video":false,"vote_average":6.9,"vote_count":2223}'
  recorded_at: Tue, 24 May 2022 18:28:40 GMT
recorded_with: VCR 6.1.0
