---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/271110/reviews?api_key=<API Key>&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - aae2e4d0c51d1341d99d674354773c0ef58fa984
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17093'
      Last-Modified:
      - Fri, 14 Oct 2022 00:54:40 GMT
    body:
      encoding: UTF-8
      string: "{\"id\":271110,\"page\":1,\"results\":[{\"author\":\"Frank Ochieng\",\"author_details\":{\"name\":\"Frank
        Ochieng\",\"username\":\"Frank Ochieng\",\"avatar_path\":\"/https://www.gravatar.com/avatar/d0204b6265e0cf3cc7cd80809df35ba2.jpg\",\"rating\":null},\"content\":\"Well
        another super-sized Marvel Comics superhero saga hits the big screen with
        the selected savior Captain America taking the top billing on the marquee.
        Thus, the pulsating popcorn pleaser **Captain America: Civil War** arrives
        on the scene to giddy audiences that have been loyal and fixated on the successful
        spring of mighty Marvel heroes that have been paraded to viewers throughout
        the last few years. Thankfully, **Captain America: Civil War**[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/271110/reviews?api_key=<API Key>&language=en-US&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 1b5a7ca59dc769ad61f44c8238e74aea68f22194
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17871'
      Last-Modified:
      - Fri, 14 Oct 2022 00:54:40 GMT
    body:
      encoding: UTF-8
      string: '{"id":271110,"page":2,"results":[{"author":"JonathanGreen","author_details":{"name":"","username":"JonathanGreen","avatar_path":"/foos2Ri8RrJyh6zMHtDNKwVgnHo.jpg","rating":null},"content":"This
        battle between Marvel''s finest superheroes left me hanging on the edge of
        my seat. It was a great one, seeing how friends had to choose which side will
        they choose, and to fight for what they believe is right.","created_at":"2020-01-23T03:31:37.629Z","id":"5e29139998f1f1000ff56ae4","updated_at":"2021-06-23T15:58:33.311Z","url":"https://www.themoviedb.org/review/5e29139998f1f1000ff56ae4"},{"author":"Adam
        Rife","author_details":{"name":"Adam Rife","username":"AdamRife","avatar_path":"/9vaYFFgdkzacJ9hJpEnZWLp88if.jpg","rating":null},"content":"Truly
        fantastic. Captain America Civil War showed the true colors for both Iron
        man and Captain America. It showed the relationships between the avengers
        and who they can really trust. I''m proud of what <a href=\"https://paperhelp.nyc/\">paperhelp</a>
        did for this movie out ten this movie is a 100. It truly showed that when
        it comes to the Avengers everyone can be the leader (although I think Iron
        man''s the true leader.)","created_at":"2020-09-17T17:10:58.497Z","id":"5f6398a20816c70037ba289e","updated_at":"2021-06-23T15:58:44.617Z","url":"https://www.themoviedb.org/review/5f6398a20816c70037ba289e"},{"author":"r96sk","author_details":{"name":"","username":"r96sk","avatar_path":"/https://www.gravatar.com/avatar/96c2e0e4ac98450f9e8e3c0a0a40aad8.jpg","rating":9.0},"content":"Awesome!
        My new favourite, so far at least.\r\n\r\nWhat an absolute joy <em>''Captain
        America: Civil War''</em> is! It made 147 minutes feel like so much less.
        Great action, enthralling story, sharp humour and some impeccable use of the
        many, many characters; even introducing two new faces to the MCU. I won''t
        spoil who, but they are massive additions and I love what they give to this.\r\n\r\nIt
        gives the perfect amount of screen time to all involved, there is no-one I
        wanted to see more or less of - it all felt very natural too, big kudos for
    [...]
