---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/271110/credits?api_key=<API Key>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 696cc80934a269c4d7be79e4054b7ebae72811f0
      X-Memc-Age:
      - '7193'
      X-Memc-Expires:
      - '7577'
      Etag:
      - W/"155b4b746e8894c413c435f622b177ef"
    body:
      encoding: UTF-8
      string: '{"id":271110,"cast":[{"adult":false,"gender":2,"id":16828,"known_for_department":"Acting","name":"Chris
        Evans","original_name":"Chris Evans","popularity":69.105,"profile_path":"/3bOGNsHlrswhyW79uvIHH1V43JI.jpg","cast_id":9,"character":"Steve
        Rogers / Captain America","credit_id":"543ecb490e0a2667450001db","order":0},{"adult":false,"gender":2,"id":3223,"known_for_department":"Acting","name":"Robert
        Downey Jr.","original_name":"Robert Downey Jr.","popularity":64.754,"profile_path":"/im9SAqJPZKEbVZGmjXuLI4O7RvM.jpg","cast_id":10,"character":"Tony
        Stark / Iron Man","credit_id":"543ecb5fc3a3684fe90001a9","order":1},{"adult":false,"gender":1,"id":1245,"known_for_department":"Acting","name":"Scarlett
        Johansson","original_name":"Scarlett Johansson","popularity":54.162,"profile_path":"/3JT[...]
