---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1381?api_key=e2d1402726608719026ca6424f229bcf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - e451622255e495378b9fb685aaa29ea034614a35
      X-Memc-Age:
      - '7351'
      X-Memc-Expires:
      - '10282'
      Etag:
      - W/"01a22c0cd90ee4abf3bdc8e489c5fa57"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/9RNJ0pKYA8EQiMa0lFZ68gzeElH.jpg","belongs_to_collection":null,"budget":35000000,"genres":[{"id":18,"name":"Drama"},{"id":12,"name":"Adventure"},{"id":878,"name":"Science
        Fiction"},{"id":10749,"name":"Romance"}],"homepage":"http://thefountainmovie.warnerbros.com/","id":1381,"imdb_id":"tt0414993","original_language":"en","original_title":"The
        Fountain","overview":"Spanning over one thousand years, and three parallel
        stories, The Fountain is a story of love, death, spirituality, and the fragility
        of our existence in this world.","popularity":14.494,"poster_path":"/tnmkVAYrHITpdKgmZ7CzVBEI4ho.jpg","production_companies":[{"id":174,"logo_path":"/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png","name":"Warner
        Bros. Pictures","origin_country":"US"},{"id":508,"logo_path":"/7PzJdsLGlR7oW4J0J5Xcd0pHGRg.png","name":"Regency
        Enterprises","origin_country":"US"},{"id":6438,"logo_path":"/hQVRii7CRnfG0rowSEc6ibt2Pke.png","name":"Muse
        Entertainment","origin_country":"CA"},{"id":7503,"logo_path":"/3K8wbNkTn7O4wX89ucnp1ZYR1XF.png","name":"Protozoa
        Pictures","origin_country":"US"},{"id":10104,"logo_path":"/hNuGhsKVlmhnwSRcmOejDBDjh6w.png","name":"New
        Regency Pictures","origin_country":"US"},{"id":54502,"logo_path":null,"name":"Mel''s
        Cite du Cinema","origin_country":""}],"production_countries":[{"iso_3166_1":"CA","name":"Canada"},{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2006-11-22","revenue":15304890,"runtime":96,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Death
        is the road to awe","title":"The Fountain","video":false,"vote_average":6.9,"vote_count":2235}'
  recorded_at: Tue, 28 Jun 2022 18:29:41 GMT
recorded_with: VCR 6.1.0
