---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/49022?api_key=api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - bf96989718684a7676c538b164bdeeb310082ded
      X-Memc-Age:
      - '278'
      X-Memc-Expires:
      - '15588'
      Etag:
      - W/"0d7ba665d6e8dd0ac1a2f42bc0872b45"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/oD9PdTC1AUvsE2j2bUn8tusDVcO.jpg","belongs_to_collection":null,"budget":35000000,"genres":[{"id":35,"name":"Comedy"},{"id":18,"name":"Drama"},{"id":10749,"name":"Romance"}],"homepage":"http://somethingborrowedmovie.warnerbros.com/","id":49022,"imdb_id":"tt0491152","original_language":"en","original_title":"Something
        Borrowed","overview":"Though Rachel is a successful attorney and a loyal,
        generous friend, she is still single. After one drink too many at her 30th-birthday
        celebration, Rachel unexpectedly falls into bed with her longtime crush, Dex
        -- who happens to be engaged to her best friend, Darcy. Ramifications of the
        liaison threaten to destroy the women''s lifelong friendship, while Ethan,
        Rachel''s confidant, harbors a potentially explosive secret of his own.","popularity":17.696,"poster_path":"/y5wh6wanlF0mli2wEKtSJq6Q1sw.jpg","production_companies":[{"id":1088,"logo_path":"/9WOE5AQUXbOtLU6GTwfjS8OMF0v.png","name":"Alcon
        Entertainment","origin_country":"US"},{"id":38010,"logo_path":null,"name":"Wild
        Ocean Films","origin_country":""},{"id":38011,"logo_path":null,"name":"2S
        Films","origin_country":""}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2011-05-05","revenue":65090821,"runtime":112,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"It''s
        a thin line between love and friendship.","title":"Something Borrowed","video":false,"vote_average":6.3,"vote_count":900}'
  recorded_at: Fri, 26 Aug 2022 14:05:59 GMT
[...]
