---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238/images?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 1c1c58038705d79f7fde21764fdca978d5e5b0f9
      X-Memc-Age:
      - '2661'
      X-Memc-Expires:
      - '14732'
      Etag:
      - W/"4d107aa224ebd4d83248586580958261"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg","vote_average":5.458,"vote_count":17,"width":3840},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","vote_average":5.456,"vote_count":9,"width":3840},{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/htuuuEwAvDVECMpb0ltLLyZyDDt.jpg","vote_average":5.392,"vote_count":8,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/AbgEQO2mneCSOc8CSnOMa8pBS8I.jpg","vote_average":5.388,"vote_count":4,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639[...]
