---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<movie_api_key>&language=en-US&page=1&query=Shawshank
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Cdn-Pullzone:
      - '775334'
      Cdn-Uid:
      - 29af4e0e-bcbd-4fcb-8635-74ddc38a1ebf
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.02'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 07/08/2022 22:38:14
      Cdn-Edgestorageid:
      - '915'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - d868d94f13cd9d72779fddc214ace824
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Framed in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by the other inmates -- including an older prisoner named Red -- for his integrity
        and unquenchable sense of hope.","popularity":85.804,"poster_path":"/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg","release_date":"1994-09-23","title":"The
        Shawshank Redemption","video":false,"vote_average":8.7,"vote_count":21727},{"adult":false,"backdrop_path":"/u6hgtSIzW8nDKKWmun9JDhZz2fp.jpg","genre_ids":[99],"id":546312,"original_language":"en","original_title":"Shawshank:
        The Redeeming Feature","overview":"Film critic and presenter Mark Kermode
        explores the fascination and praise audiences, fans and critics have behind
        the classic The Shawshank Redemption (1994) and how its importance grew higher
        over the years despite being an overlooked film when it was released and not
        getting any Oscars victories when it was nominated as one of the Best Pictures
        of the Year.","popularity":1.623,"poster_path":"/b7DGM74MRfiLqEveVKwh0jnQ8zX.jpg","release_date":"2001-09-08","title":"Shawshank:
        The Redeeming Feature","video":false,"vote_average":8.7,"vote_count":14},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":897459,"original_language":"en","original_title":"Hope
        Springs Eternal: A Look Back at The Shawshank Redemption","overview":"Documentary
        about the movie.","popularity":1.467,"poster_path":"/vdVab7yNvgYEMd8shCfy2D6nTMu.jpg","release_date":"2004-06-25","title":"Hope
        Springs Eternal: A Look Back at The Shawshank Redemption","video":false,"vote_average":7,"vote_count":1}],"total_pages":1,"total_results":3}'
  recorded_at: Fri, 08 Jul 2022 22:38:14 GMT
recorded_with: VCR 6.1.0
