---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/287?api_key=<movie_api_key>&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 712ab5e34a01d4d0b16b7c486084f0f3871b0b37
      X-Memc-Age:
      - '6012'
      X-Memc-Expires:
      - '8935'
      Etag:
      - W/"14417c4d25abecd2e2b889f9767bdd7b"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/vnl0fqfuIZc5XuUP6YO3kw0fZfO.jpg","belongs_to_collection":null,"budget":7000000,"genres":[{"id":35,"name":"Comedy"},{"id":10749,"name":"Romance"}],"homepage":"","id":287,"imdb_id":"tt0094812","original_language":"en","original_title":"Bull
        Durham","overview":"Veteran catcher Crash Davis is brought to the minor league
        Durham Bulls to help their up and coming pitching prospect, \"Nuke\" Laloosh.
        Their relationship gets off to a rocky start and is further complicated when
        baseball groupie Annie Savoy sets her sights on the two men.","popularity":12.513,"poster_path":"/rwIFcBYL9TiSxKtgyWPSsGI5R9k.jpg","production_companies":[{"id":1312,"logo_path":null,"name":"The
        Mount Company","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1988-06-15","revenue":50888000,"runtime":108,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Romance
        is a lot like baseball. It''s not whether you win or lose. It''s how you play
        the game.","title":"Bull Durham","video":false,"vote_average":6.7,"vote_count":443,"credits":{"cast":[{"adult":false,"gender":2,"id":1269,"known_for_department":"Acting","name":"Kevin
        Costner","original_name":"Kevin Costner","popularity":30.495,"profile_path":"/bykmxJHLfbFM3NT05RZXhx8YTzF.jpg","cast_id":2,"character":"Crash
        Davis","credit_id":"52fe4232c3a36847f800b667","order":0},{"adult":false,"gender":1,"id":4038,"known_for_department":"Acting","name":"Susan
        Sarandon","original_name":"Susan Sarandon","popularity":14.919,"profile_path":"/oHYYL8bNakAREaLUBtMul5uMG0A.jpg","cast_id":3,"character":"Annie
        Savoy","credit_id":"52fe4232c3a36847f800b66b","order":1},{"adult":false,"gender":2,"id":504,"known_for_department":"Acting","name":"Tim
        Robbins","original_name":"Tim Robbins","popularity":21.602,"profile_path":"/hsCu1JUzQQ4pl7uFxAVFLOs9yHh.jpg","c[...]
