---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=1&query=wayne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":616174,"original_language":"en","original_title":"John
        Wayne Gacy: Defending a Monster","overview":"\"Sam, could you do me a favor?\"  A
        seemingly simple request sparks the story that has now become part of America’s
        true crime hall of fame - the journey of a young lawyer, fresh from the Public
        Defender’s Office, whose first client in private practice turns out to be
        the most evil serial killer in our nation''s history.","popularity":24.208,"poster_path":"/zti56ETt1Jy8YccD2KbVq86XiCe.jpg","release_date":"2019-07-25","title":"John
        Wayne Gacy: Defending a Monster","video":false,"vote_average":7,"vote_count":2},{"adult":false,"backdrop_path":"/cxaapBWXYqyKsLOdV4pzW3McPWv.jpg","genre_ids":[35,10402],"id":8872,"original_language":"en","original_title":"Wayne''s
        World","overview":"The adventures of two amiably aimless metal-head friends,
        Wayne and Garth. From Wayne''s basement, the pair broadcast a talk-show called
        \"Wayne''s World\" on local public access television. The show comes to the
        attention of a sleazy network executive who wants to produce a big-budget
        version of \"Wayne''s World\"—and he also wants Wayne''s girlfriend, a rock
        singer named Cassandra. Wayne and Garth have to battle the executive not only
        to save their show, but also Cassandra.","popularity":12.584,"poster_path":"/rsgklbt5KxeuUuchehnLACxzisP.jpg","release_date":"1992-02-14","title":"Wayne''s
        World","video":false,"vote_average":6.7,"vote_count":1848},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":281891,"original_language":"en","original_title":"Unlicensed
        Cemetery: The John Wayne Gacy Murders","overview":"John Wayne Gacy was accused
        and convicted of the brutal homosexual torture slayings of 33 young men and
        boys...but many believe his total could be much higher. This video will explore
        the many sides of John Wayne Gacy with case facts, profile interviews and
        re-enactments that aren''t available anywhere.","popularity":14.268,"poster_path":"/mIOAf9dkbh1vZwTM6E35QtcPZLJ.jpg","release_date":"2002-01-01","title":"Unlicensed
   [...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=2&query=wayne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":393056,"original_language":"en","original_title":"Wayne
        Dyer: Excuses Begone!","overview":"People are forever using excuses and defending
        those excuses as if they were actually true. Such statements as ''It would
        be very difficult for me to change'', or ''I''m too old/young to change''
        are all excuses used regularly without challenging the truth of these thinking
        habits. When you eliminate excuses that explain your shortcomings or failures,
        you''ll awaken to your infinite possibilities.","popularity":0.872,"poster_p[...]
