---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/22?api_key=<movie_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 92f0f4310f9aec63bc8c99b5e9b827912d7866f4
      X-Memc-Age:
      - '12850'
      X-Memc-Expires:
      - '4317'
      Etag:
      - W/"470a4274a94002d6f516ca8a63c1bfc1"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/3rlclw8qHWEX2hYHNi7dAaW1e0.jpg","belongs_to_collection":{"id":295,"name":"Pirates
        of the Caribbean Collection","poster_path":"/zRBaZxS5YauLvRYjAdL4AUCwlht.jpg","backdrop_path":"/wxgD3fB5lQ2sGJLog0rvXW049Pf.jpg"},"budget":140000000,"genres":[{"id":12,"name":"Adventure"},{"id":14,"name":"Fantasy"},{"id":28,"name":"Action"}],"homepage":"http://disney.go.com/disneyvideos/liveaction/pirates/main_site/main.html","id":22,"imdb_id":"tt0325980","original_language":"en","original_title":"Pirates
        of the Caribbean: The Curse of the Black Pearl","overview":"Jack Sparrow,
        a freewheeling 18th-century pirate, quarrels with a rival pirate bent on pillaging
        Port Royal. When the governor''s daughter is kidnapped, Sparrow decides to
        help the girl''s love save her.","popularity":152.377,"poster_path":"/z8onk7LV9Mmw6zKz4hT6pzzvmvl.jpg","production_companies":[{"id":2,"logo_path":"/wdrCwmRnLFJhEoH8GSfymY85KHT.png","name":"Walt
        Disney Pictures","origin_country":"US"},{"id":130,"logo_path":"/c9dVHPOL3cqCr2593Ahk0nEKTEM.png","name":"Jerry
        Bruckheimer Films","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2003-07-09","revenue":655011224,"runtime":143,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Prepare
        to be blown out of the water.","title":"Pirates of the Caribbean: The Curse
        of the Black Pearl","video":false,"vote_average":7.8,"vote_count":17147}'
  recorded_at: Thu, 24 Mar 2022 22:31:38 GMT
recorded_with: VCR 6.1.0
