<center><h2>Welcome to Viewing Party Lite!</h2>

<% if current_user %>
<h3>Current Registered Users:</h3>
<% @users.each do |user| %>
  <%= "#{user.email}" %> &nbsp;
<% end %>
<% end %>
<br><br>
<img src="https://wallpaperaccess.com/full/1512223.jpg" alt="Movie Pics">
</center>
