<article>

  <%= button_to 'Create a New User', '/register', method: :get %>
  <br>
  <div id="user-list">
    Existing Users:
    <ul>
    <% @users.each do |user| %>
      <li class="user-dash-link">
        <%= link_to "#{user.email}'s Dashboard", user_path(user) %>
      </li>
      <%end%>
    </ul>
  </div>
</article>