<h1>Welcome to Viewing Party Lite</h1>
<% if current_user %>
  <p><%= button_to "Logout", '/logout', method: :delete %> </p>
<% else %>
  <p><%= button_to "Login", login_path, method: :get %> </p>
  <p><%= button_to "Create New User", register_path, method: :get %></p>
<% end %>

<% if current_user %>
<h3>Users:</h3>
<% @users.each do |user| %>
  <p><%= "#{user.email}" %></p>
<% end %>
<% end %>
