<h1>Welcome to Viewing Party Lite</h1>
<p><%= button_to "Login", login_path, method: :get %> </p>
<p><%= button_to "Create New User", register_path, method: :get %></p>

<h3>Users:</h3>
<% @users.each do |user| %>
  <p><%= link_to "#{user.name}", user_path(user.id) %></p>
<% end %>
