<center><%= button_to 'Create New User', '/register', method: :get %></center>

<center><p>Existing Users:</p></center>
<center><% @users.each do |user| %>
  <p><%= link_to "#{user.name}'s Dashboard", user_dashboard_path(user) %></p>
  <% end %></center>
