<h1>Viewing Party Lite</h1>

<%= button_to "Create New User", '/register', method: :get %>


<div id="existing_users">
  <% @users.map do |user| %>
    <ul>
      <li><%= link_to "#{user.email}'s Dashboard", "/users/#{user.id}" %></li>
    </ul>
  <% end %>
</div>
