<section id="header"><h1>Viewing Party Lite</h1></section>
<%= button_to "Create New User", '/register', method: :get %>
<h3>All Users:</h3>
<% @users.each do |user| %>
  <p><%= link_to user.name, user_path(user.id) %>'s Dashboard</p>
<% end %>

<%= link_to "Landing Page", root_path %>
