<h3><%= button_to 'Create a New User', register_path, method: :get %></h3>
  <div id='users'>
    <div class="sub-header">
      <h4>Existing Users</h4>
    </div>
  <div class="content">
      <% @users.each do |user| %>
        <center><p><%= link_to "#{user.name}", user_path(user) %><p></center>
      <% end %>
  </div>
</div>
