<h1>Viewing Party Lite</h1>

<%= button_to "Create New User", "/register", method: :get %>

<% @users.each do |user| %>
<div id="users-<%=user.id%>">
   <p> <h3><%= link_to user.name, "users/#{user.id}" %></h3>
    </p>
    <% end %>
    <br>
</div>