<div class='centered_text'>
  <%= button_to 'Create a New User', '/register', method: :get %>
</div>
<div class='centered'>
  <h2>Existing Users</h2>
  <% @users.each do |user| %>
    <div id="user-<%= user.id %>">
      <%= link_to user.email, user_path(user) %>
    </div>
  <% end %>
</div>
