<h2>Viewing Party<h2>

<%= button_to 'Create New User', new_user_path %>

<section id="existing_users"><h2>Existing Users</h2>
  <% @users.each do |user| %>
    <%= user.email %>
  <% end %>
</section>