<%= render partial: './shared/header' %>

<h2><%= button_to "Create a New User", register_path, method: :get %></h2>

<div id="users">
  <h3>Existing Users</h3>
  <% @users.each do |user| %>
    <div id="user_<%= user.id %>">
      <li><%= link_to user.email, user_path(user) %></li>
    </div>  
  <% end %> 
</div>
