<div id='button'>
  <%= button_to 'Create New User', register_path, method: :get %>
</div>

<br>

<section id='existing_users'>
  <h2>Existing Users</h2>
  <% @users.each do |user| %>
    <div id='user-<%= user.id %>'>
      <p>
        <%= link_to "#{user.email}'s Dashboard", user_dashboard_path(user) %>
      </p>
    </div>
  <% end %>
</section>
