<h3>Movie Results for: <%= params[:q] %></h3>

<% @movies.each_with_index do |movie, index| %>
  <p><%= index + 1 %>.</p>
  <p>Title: <%= movie.title %></p>
  <p>Vote Average: <%= movie.vote_average %></p>
<% end %>