<h3>Discover Movies</h3>
<hr>

<p type="button" class="btn btn-outline-primary"><%= link_to "Find Top Rated Movies", movies_path(:q => 'top20rated') %></p>

<h4>OR</h4>

<%= form_with url: movies_path, method: :get, local: true do |form|%>
<div class="mb-3">

  <%= form.text_field :q , class: "form-control", placeholder: "Search by movie title"%>
</div>

<div class="mb-3">
  <%= form.submit "Find Movie", class: "btn btn-primary" %>
</div>
<%end %>