<h1>The Movies Discover Page</h1>
<%= button_to "Discover The Top Rated Movies", "/users/#{@user.id}/movies", method: :get, params:{q: 'top 20rated'} %>
<%= form_with url: "/users/#{@user.id}/movies", method: :get, local: true do |form| %>
<%= form.text_field :"q", placeholder: "Search Movies" %>
<%= form.submit :'Find Movies' %>
<% end %>
<form action="/tutorial/action.html">
  <p>
    <legend>Date of Viewing Party</legend>

    <input type="date" name="dateofviewingparty"><br /><br />

    <input type="submit" value="Submit">
  </p>
</form>
