<style>
.center {
  margin-left: auto;
  margin-right: auto;
}
</style>

<center><%= button_to 'Discover Page', "/users/#{@user.id}/discover", method: :get %></center><br><br>

<div id="movie-results">
  <table class="center">

  <center><%= "No Movies Found" if @movies == [] %></center>

  <% @movies.each do |movie| %>
    <tr class="results">
      <td style="padding-right: 4em;"><%= link_to movie.title, user_movie_path(@user, movie) %></td>
      <td><%= movie.vote_average %></td>
    </tr>
    <% end %>
  </table>
</div>