<h3> Movies with the keyword "<%= @keyword %>""</h3>
<%  if @movie %>
  <% @movie[:results].each do |movie| %>
    <p><%= link_to movie[:title], "/users/#{@user}/movies/#{movie[:id]}" %>  Rating: <%= movie[:vote_average] %></p>
  <% end %>
<%  end %>
