<div style="text-align:center">
  <%= button_to 'Discover Page', user_discover_index_path(@user), method: :get %>
</div>

<ul style="list-style-type:none;">
  <% @movies.each do |movie| %>
    <li><%= link_to "#{movie[:title]}", user_movie_path(@user, movie[:id]) %>
  <% end %>
</ul>