<p type="button" class="btn btn-outline-primary"><%= link_to "Discover Page", discover_path%></p>
<hr>

<% @movies.each do |movie| %>
  <div id=<%= movie.id %>>

    <%= link_to movie.title, user_movie_path(@user, movie.id)%>
    <p>
      Vote Average:
      <%= movie.vote_average %></p>
  </div>
<% end %>