<h1><%= @user.name %> Top Movies</h1>

<% @movies.each_with_index do |movie, index| %>
  <div id="movie-<%= index %>">
    Title: <%= link_to "#{movie.title}", user_movie_path(@user, movie) %>
    Vote Average: <%= movie.vote_average %>
  </div>
<% end %>
