<%= button_to 'Return to Discover', "/users/#{@user.id}/discover", method: :get %>
<% if params[:search].present? %>
  <h2>Movie results</h2>
<% else %>
  <h1>Top Rated Movies</h1>
<% end %>
<ol>
  <% @movies.each do |movie| %>
    <li><%= link_to movie.title, user_movie_path(params[:user_id], movie.id) %> (<%= movie.vote_average %>)</li>
  <% end %>
</ol>



