<p type="button" class="btn btn-outline-primary"><%= link_to "Discover Page", user_movies_discover_path(@user) %></p>

<% @movies.each do |movie| %>
  <div >

    <%= link_to movie.title %>
    <p>
      Vote Average:
      <%= movie.vote_average %></p>
  </div>
<% end %>