<h2> Top Rated Movies </h2>
<%= button_to "Discover Page", user_discover_path(@user.id), method: :get %>

<% @movies.each do |movie| %>
  <p><b><%= link_to movie.title, user_movie_path(@user.id, movie.id) %></b>, Movie vote average: <%= movie.vote_average %></p>  
<% end %>
