<h1><% if params[:commit]%>
        <%= "Movie results for: #{params[:q]}"%>
      <% else %>
        <%= "Top Rated Movies" %>
      <% end %></h1>
<% @movies.each do |movie| %>
<p class="movie"><%= link_to "#{movie.title}", "/users/#{@user.id}/movies/#{movie.id}" %>
  <%= movie.vote_average %></p>
<% end %>
