<h1>Viewing Party</h1>

<%= button_to "Discover Page", user_discover_index_path(@user), method: :get %>

<% @movies.each do |movie| %>
  <p><%= movie.title %> Vote average: <%= movie.vote_average %></p>
<% end %>