<center>
  <h1>Movies</h1>
  <% if @movies %>
    <% @movies.each do |movie| %>
      <pre><%= link_to movie.original_title, user_movie_path(@user, movie.id) %>     vote average: <%= movie.vote_average %><pre><br>
    <% end %>
  <% end %><br>
  <%= button_to 'Discover Page', user_discover_index_path(@user), method: :get %>
</center>