<h3><%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %></h3>

<h2>Movies:</h2>
<ul>
  <% @movies.each do |movie| %>
    <div id=<%= movie.id %>>
      <li><strong>Title: </strong><%= link_to movie.title, "/users/#{@user.id}/movies/#{movie.id}", method: :get, local: true %></li>

      <li><strong>Vote Average: </strong><%= movie.vote_average %></li>
      <br>
    </div>
  <% end %>
</ul>
