<h1> <%= "#{@user.name}'s Movies Dashboard" %> </h1>




<% @top_20.each do |movie| %>
<p><%= link_to "#{movie.first}",  "/users/#{@user.id}/movies/#{movie[1]}", method: :get %>            Vote Average:<%= movie.last %></p>
<% end %>