<h1>Viewing Party</h1>
<h2>Top Rated Movies</h2>

<%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>

<% @movies.each do |movie| %>
  <%= link_to "#{movie.title}", "/users/#{@user.id}/movies/#{movie.id}" %>
  <p>Vote Average: <%= movie.vote_average %><p><br>
<% end %>
