<h1>Viewing Party Lite</h1>
<h2>Top Rated Movies</h2>

<div class="center-button">
  <%= button_to "Discover Page", discover_path, method: :get %>
</div>

<div class="api-info">
  <% @movies.each do |movie| %>
    <%= link_to movie.title, movies_path(:id), method: :get %> Vote Average: <%= movie.vote_average %><br>
  <% end %>
</div>
