<body>
  <div class="flex-container">
    <div class="flex-items" id="discover_page_button">
      <%= button_to 'Discover Page', "/users/#{@user.id}/discover", method: :get, class: 'button1' %>
    </div>

    <div class="flex-container" id="movie-results">
      <table style='text-align: left; margin: 1.5em;'>
      <% if @movies == nil %>
       <h4><%= "No Movies Found"%></h4>
      <% else %>
        <% @movies.each do |movie| %>
          <tr class="results">
            <td style="padding-right: 4em;"><%= link_to movie.title, user_movie_path(@user, movie.id) %></td>
            <td style='text-align: right'><%= "Vote Average: #{movie.vote_average}" %></td>
          </tr>
        <% end %>
      <% end %>
      </table>
    </div>
  </div>
</body>