<h2> Top Rated Movies </h2>
<%= button_to "Discover Page", discover_path, method: :get %>

<% @movies.each do |movie| %>
  <p><b><%= link_to movie.title, movie_path(movie.id) %></b>, Movie vote average: <%= movie.vote_average %></p>
<% end %>

<% if flash.key? :error %>
  <p> <%= flash[:error] %> </p>
<% end %>
