<h1>Movie Results </h1>
<% @movies.each do |movie| %>
  <ul class="movies">
  <li class="Title">Title: <%= movie.original_title%></li>
  <li class="Vote Average">Vote Average: <%= movie.vote_average%></li>
</ul>
<% end %>
