
<%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get%>

<br>

<div>
  <% @movies.each do |movie| %>
    <%= movie.title  %> <h3> Vote Average: <%= movie.vote_average %></h3>
  <% end %>
</div>

