<% if  @search_term.present? %>
<h2>Movie results for: <%= @search_term %> </h2>
<% else %>
<h2> Top Movies </h2>
<% end %>
<h3> <%= button_to "Discover Page", "/users/#{params[:id]}/discover", method: :get %></h3>

<% @results.each do |movie| %>
<p> <%= movie.title %>                                 Vote Average: <%= movie.vote_average %></p>
<% end %>