<h1>Movie Search Results</h1>
<%= button_to "Discover Movies", user_discover_index_path(@user.id), method: :get %>

<% @movies.each do |movie| %>

    <h3>Title: <%= link_to "#{movie.title}", user_movie_path(@user.id, movie.movie_id) %></h3>
    <h4>Average Rating: <%= movie.vote_average %></h4><hr>

<% end %>
