<div style="text-align:center">
  <%= button_to 'Discover Page', user_discover_index_path(@user), method: :get %>
</div>

  <% @movies.each do |movie| %>
    <div id="voting_average_<%= movie[:id]%>">
      <p><%= link_to "#{movie[:title]}", user_movie_path(@user, movie[:id]) %> - Vote Average: <%= movie[:vote_average] %></p>
    </div>
  <% end %>
