<%= link_to 'Discover Page', user_discover_index_path(@user) %>

<table>
  <tr>
    <th>Movie Title</th>
    <th>Average Rating</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= link_to movie.title, user_movie_path(@user, movie.id) %></td>
      <td><%= movie.vote_avg %></td>
    </tr>
  <% end %>
</table>
