<h3>Top Rated Movies</h3>

<% @movies.each_with_index do |m, idx| %>
  <div id=" <%= idx %>">
    <p><%= link_to m[:title], "/users/#{@user.id}/movies/#{m[:id]}" %> - Rated <%= m[:vote_average] %></p>
  </div>
<% end %>
