<h1>Viewing Party</h1>

<%= button_to "Discover Page", user_discover_index_path(@user), method: :get %>

<% @movies.each do |movie| %>
  <p><%= link_to movie.title, "/users/#{@user.id}/movies/#{movie.id}" %></p> 
  <li>Vote average: <%= movie.vote_average %></li>
<% end %>