<center>
<h1>Viewing Party</h1>
<% if params[:top] == "top_rated" %>
  <h2>Top Rated Movies</h2>
<% else  %>
  <h2>Movie Search Results</h2>
<% end %>

<%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>

<% @results.each do |movie| %>
  <%= link_to "#{movie.title}", "/users/#{@user.id}/movies/#{movie.id}" %>
  <p>Vote Average: <%= movie.vote_average %><p><br>
<% end %>
<center>
