<h2>Test</h2>

<table id="top-rated-movies">
  <tr>
    <th>Number</th>
    <th>Title</th>
    <th>Average Rating</th>
  </tr>

  <% @top_movies.each_with_index do |movie, index| %>
    <tr id="<%=movie.movie_id%>-info">
      <th><%= index + 1 %></th>
      <th><%= movie.title %></th>
      <th><%= movie.rating %></th>
    </tr>
  <% end %>
</table>