<center><h3>Top Rated Movies</h3></center>
<center><%= link_to 'Discover Page', user_discover_path, method: :get %></center>
<hr>

<% if @movie.nil? || @movie.empty? %>
<center><p>No results found</p></center>
<% else %>
<% @movie.each do |movie| %>
  <div id="movie-<%= movie.id %>">
  <p><%= link_to movie.title, user_movie_path(@user, movie.id) %> Vote Average: <%= movie.vote_average %></p>
</div>
  <% end %>
<% end %>
