<div class="row mb-3">
  <div class="col d-flex justify-content-center">
    <%= link_to 'Discover Movies', user_discover_index_path(params[:user_id]), class: 'btn btn-primary' %>
  </div>
</div>
<hr>
<div class="row d-flex justify-content-center">
  <div class="col-lg-4">
    <table class="table">
      <tr>
        <th>Movie name</th>
        <th>Average Score</th>
      </tr>
      <% @top_rated.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movies_show_path(movie_id: movie.id) %></td>
        <td>Vote average: <%= movie.vote_average %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
