<%= render partial: './shared/header' %>

<% @top_20.each do |movie| %>
  <br>
  <p><%= link_to movie[:title], "/users/#{@user.id}/movies/#{movie[:id]}" %>
  Vote Average: <%= movie[:vote_average] %></p>
<% end %>