<h1>Top Rated Movies</h1>

<%= link_to 'Discover Page', "/users/#{@user.id}/discover" %> 

<% if @movies %>
  <% @movies.each do |movie| %>
    <div id='movie'>
      <p><strong><%= movie.title %></strong>: Vote Average: <%= movie.vote_average %></p>
    </div>
  <% end %>
<% end %>
