<h1>Movie Results</h1>
<%= link_to "Return to Discover", "/users/#{@user.id}/discover" %>

<% @movies.each do |movie| %>
<p>Title: <%= link_to "#{movie.title}", "/users/#{@user.id}/movies/#{movie.id}"  %></p>
<p>Vote Average: <%= movie.vote_average  %></p><br>
<% end %>
