<div style="text-align:center">

  <%= button_to 'Discover Page', user_discover_index_path(@user), method: :get %>
  <br>
  <%= button_to 'Create Viewing Party', new_user_movie_viewing_party_path(@user, @movie), method: :get %>
</div>