<h1>Movie show</h1>
<%= button_to "Create new viewing party", "/users/#{@user.id}/movies/#{@movie.id}/viewing_party/new", method: :get %> <br/>
<%= link_to "Return to Discover", "/users/#{@user.id}/discover" %>
