<h1><%= @movie.title %>'s Details</h1>

<%= button_to "Create Viewing Party", "/users/#{@user.id}/movies/#{@movie.id}/viewing_partys/new", method: :get %>

<%= button_to "Discover Page", user_discover_path(@user.id), method: :get %>