---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/100?api_key=Sike you thought
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - Sike you thought
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 6f4c2280f4a0a7993e5dfaea76a290f45af97d9d
      X-Memc-Age:
      - '6715'
      X-Memc-Expires:
      - '9303'
      Etag:
      - W/"e12b938b8d18ec2714047fe8d1fe573c"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/cXQH2u7wUIX1eoIdEj51kHXoWhX.jpg","belongs_to_collection":null,"budget":1350000,"genres":[{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"}],"homepage":"http://www.universalstudiosentertainment.com/lock-stock-and-two-smoking-barrels/","id":100,"imdb_id":"tt0120735","original_language":"en","original_title":"Lock,
        Stock and Two Smoking Barrels","overview":"A card shark and his unwillingly-enlisted
        friends need to make a lot of cash quick after losing a sketchy poker match.
        To do this they decide to pull a heist on a small-time gang who happen to
        be operating out of the flat next door.","popularity":9.462,"poster_path":"/8kSerJrhrJWKLk1LViesGcnrUPE.jpg","production_companies":[{"id":491,"logo_path":"/rUp0lLKa1pr4UsPm8fgzmnNGxtq.png","name":"Summit
        Entertainment","origin_country":"US"},{"id":21920,"logo_path":null,"name":"The
        Steve Tisch Company","origin_country":""},{"id":13419,"logo_path":null,"name":"SKA
        Films","origin_country":"GB"},{"id":1382,"logo_path":"/sOg7LGESPH5vCTOIdbMhLuypoLL.png","name":"PolyGram
        Filmed Entertainment","origin_country":"US"},{"id":20076,"logo_path":"/i9qXGJIP9fGN22PP5jXUVENbyHi.png","name":"HandMade
        Films","origin_country":"GB"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"}],"release_date":"1998-08-28","revenue":28356188,"runtime":105,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        Disgrace to Criminals Everywhere.","title":"Lock, Stock and Two Smoking Barrels","video":false,"vote_average":8.2,"vote_count":5424}'
  recorded_at: Tue, 24 May 2022 20:52:31 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/100/credits?api_key=Sike you thought
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - Sike you thought
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 597b7f36dbcd3b0dbd191ade215b2feac47b954b
      X-Memc-Age:
      - '4890'
      X-Memc-Expires:
      - '11112'
      Etag:
      - W/"700c8fd1a742e41e32405c8607d8e9c3"
    body:
      encoding: ASCII-8BIT
      string: '{"id":100,"cast":[{"adult":false,"gender":2,"id":973,"known_for_department":"Acting","name":"Jason
        Flemyng","original_name":"Jason Flemyng","popularity":9.981,"profile_path":"/6E5KfjDwm00jIfN3LNLL9jZAvx3.jpg","cast_id":12,"character":"Tom","credit_id":"52fe4217c3a36847f80035fb","order":0},{"adult":false,"gender":2,"id":974,"known_for_department":"Acting","name":"Dexter
        Fletcher","original_name":"Dexter Fletcher","popularity":5.084,"profile_path":"/yRI8MDB5sg8b8EZkzFz5cCBrnKL.jpg","cast_id":13,"character":"Soap","credit_id":"52fe4217c3a36847f80035ff","order":1},{"adult":false,"gender":2,"id":975,"known_for_department":"Acting","name":"Nick
        Moran","original_name":"Nick Moran","popularity":5.321,"profile_path":"/kfWebCAm72JBZLXcNbA2Myr950E.jpg","cast_id":14,"chara[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/100/reviews?api_key=Sike you thought
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - Sike you thought
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - b8ceef4dd81d362973c4004beb6d29a7067370a0
      X-Memc-Age:
      - '707'
      X-Memc-Expires:
      - '14225'
      Etag:
      - W/"d25f3f076be38b4e9eecebc49f81a1b5"
    body:
      encoding: ASCII-8BIT
      string: '{"id":100,"page":1,"results":[{"author":"BradFlix","author_details":{"name":"","username":"BradFlix","avatar_path":null,"rating":null},"content":"I
        just plain love this movie!","created_at":"2013-12-01T23:11:51.416Z","id":"529bc23719c2957215011e7b","updated_at":"2021-06-23T15:57:23.111Z","url":"https://www.themoviedb.org/review/529bc23719c2957215011e7b"},{"author":"Andres
        Gomez","author_details":{"name":"Andres Gomez","username":"tanty","avatar_path":"/https://www.gravatar.com/avatar/03a53cd53b8254fe582d4fe1acc26c4e.jpg","rating":3.0},"content":"Far
        from being a good movie, with tons of flaws but already pointing to the pattern
        of the whole Ritchie''s filmography.","created_at":"2014-04-24T00:11:47.766Z","id":"535856c30e0a26069400064c","updated_at":"2021-06-23T15:57:26.186Z","url":"https://www.themoviedb.org/review/535856c30e0a26069400064c"},{"author":"David
        Perkins","author_details":{"name":"David Perkins","username":"Prkns","avatar_path":null,"rating":9.0},"content":"Genuinely
        one of my favorite movies of all time. Watched again recently and realised
        how well written, brilliantly shot, beautifully cast and cleverly produced
        this movie actually is!","created_at":"2017-01-09T12:24:47.234Z","id":"5873810f9251410e71009a68","updated_at":"2021-06-23T15:57:52.869Z","url":"https://www.themoviedb.org/review/5873810f9251410e71009a68"},{"author":"r96sk","author_details":{"name":"","username":"r96sk","avatar_path":"/https://www.gravatar.com/avatar/96c2e0e4ac98450f9e8e3c0a0a40aad8.jpg","rating":8.0},"content":"The
        very entertaining ending makes this film.\r\n\r\nI wasn''t sure about <em>''Lock,
        Stock and Two Smoking Barrels''</em> up until that point. Like, don''t get
        me wrong, it is a good film from the get-go but I wasn''t personally convinced
        by it to be more than that until the credits rolled - at which point, I found
        myself to have been thoroughly entertained.\r\n\r\nWith Guy Ritchie in his
        directing debut and a whole host of familiar British faces, it isn''t a difficult
        film to get into. I did feel at some points that there were too many characters
        and that they weren''t distinctive enough; there were momentary bits where
        I had to think a tad harder at which characters were linked with each other.
        However, that actually turns into the film''s best thing at the end as it
        does come together brilliantly.\r\n\r\nAll in all, this 1998 gangster flick
        is something I''d consider as very good and worthy of watching.","created_at":"2022-03-16T01:38:40.389Z","id":"62313fa06517d60045ed073a","updated_at":"2022-03-16T01:38:40.389Z","url":"https://www.themoviedb.org/review/62313fa06517d60045ed073a"}],"total_pages":1,"total_results":4}'
  recorded_at: Tue, 24 May 2022 20:52:32 GMT
[...]
