<h1><%= @user.name %>'s Dashboard</h1>

<%= button_to "Discover Movies", users_discover_index_path(@user), method: :get %>

<% @user.viewing_parties.each do |vp| %>
  <div id="viewing_party_<%= vp.id %>">
    <p>Viewing Party <%= vp.id %></p>
  </div>
<% end %>