---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/505?api_key=<movie_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 311da871cc80de448d8898ff3a4b02d56e2aec87
      X-Memc-Age:
      - '15585'
      X-Memc-Expires:
      - '464'
      Etag:
      - W/"c0d738b0224ff72af8cb934dbdffe587"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/v7baGyne7CsLxnM2maMwIxKZdVF.jpg","belongs_to_collection":null,"budget":20000000,"genres":[{"id":80,"name":"Crime"},{"id":18,"name":"Drama"}],"homepage":"","id":505,"imdb_id":"tt0097626","original_language":"en","original_title":"Johnny
        Handsome","overview":"A career criminal who has been deformed since birth
        is given a new face by a kindly doctor and paroled from prison. It appears
        that he has gone straight, but he is really planning his revenge on the man
        who killed his mentor and sent him to prison.","popularity":10.083,"poster_path":"/hdEIkpL17rvfZH0l34FJ8H9LAa.jpg","production_companies":[{"id":275,"logo_path":"/2MxNWlN5b3UXt1OfmznsWEQzFwq.png","name":"Carolco
        Pictures","origin_country":"US"},{"id":276,"logo_path":null,"name":"Guber/Peters
        Company","origin_country":""},{"id":277,"logo_path":null,"name":"Roven Productions","origin_country":""}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1989-09-12","revenue":7237794,"runtime":94,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"They
        changed his looks, his life and his future... but they couldn''t change his
        past .","title":"Johnny Handsome","video":false,"vote_average":6.284,"vote_count":199}'
  recorded_at: Fri, 26 Aug 2022 14:52:38 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/505/credits?api_key=<movie_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5a17f3f289bd1461c53768363d79512f9792e863
      X-Memc-Age:
      - '8441'
      X-Memc-Expires:
      - '7057'
      Etag:
      - W/"2c8e5cf524039d44461e99f5d3c6de2b"
    body:
      encoding: ASCII-8BIT
      string: '{"id":505,"cast":[{"adult":false,"gender":2,"id":2295,"known_for_department":"Acting","name":"Mickey
        Rourke","original_name":"Mickey Rourke","popularity":36.319,"profile_path":"/i6vXukUwRsJa7S9yhZgoKt9xLDv.jpg","cast_id":4,"character":"Johnny
        Handsome","credit_id":"52fe424bc3a36847f80130f1","order":0},{"adult":false,"gender":1,"id":6913,"known_for_department":"Acting","name":"Ellen
        Barkin","original_name":"Ellen Barkin","popularity":23.128,"profile_path":"/lrmzR8IXsJoIuahKfXSgUHajr9j.jpg","cast_id":5,"character":"Sunny
        Boyd","credit_id":"52fe424bc3a36847f80130f5","order":1},{"adult":false,"gender":2,"id":192,"known_for_department":"Acting","name":"Morgan
        Freeman","original_name":"Morgan Freeman","popularity":55.703,"profile_path":"/905k0RFzH0Kd6gx8oSxRdnr6FL.jpg","c[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/505/reviews?api_key=<movie_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - b5df5aef5ffafbdd64597f1bf3adbab6e722e04d
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '16759'
      Last-Modified:
      - Thu, 11 Nov 2021 19:29:05 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":505,"page":1,"results":[{"author":"John Chard","author_details":{"name":"","username":"John
        Chard","avatar_path":"/utEXl2EDiXBK6f41wCLsvprvMg4.jpg","rating":7.0},"content":"Walter
        Hill''s undervalued neo-noir.\r\n\r\nJohnny Handsome is directed by Walter
        Hill and adapted to screenplay by Ken Friedman from the novel \"The Three
        Worlds of Johnny Handsome\" written by John Godey. It stars Mickey Rourke,
        Ellen Barkin, Elizabeth McGovern, Lance Henriksen, Forest Whitaker, Morgan
        Freeman and Scott Wilson. Music is by Ry Cooder and cinematography by Matthew
        F. Leonetti.\r\n\r\nJohn Sedley (Rourke), AKA: Johnny Handsome, has[...]
