<center>
  <h2>Create a Viewing Party for <%= @movie.title %></h2>
  <%= render partial: 'partials/buttons/discover_button' %>
  <h3> Viewing Party Details </h3>
  <h4>Movie Title: <%= @movie.title %></h4>
  <%= render partial: 'partials/forms/new_viewing_party' %>
</center>