---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&language=en-US&query=miss%20cong
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/tBOLfpP25TgqnWvhvsWocEXOoYS.jpg","genre_ids":[35,80,28],"id":1493,"original_language":"en","original_title":"Miss
        Congeniality","overview":"When the local FBI office receives a letter from
        a terrorist known only as ''The Citizen'', it''s quickly determined that he''s
        planning his next act at the Miss America beauty pageant. Because tough-as-nails
        Gracie Hart is the only female Agent at the office, she''s chosen to go undercover
        as the contestant from New Jersey.","popularity":25.629,"poster_path":"/pat3vKaRlB70he4ghwTMydR4TvP.jpg","release_date":"2000-12-22","title":"Miss
        Congeniality","video":false,"vote_average":6.5,"vote_count":3291},{"adult":false,"backdrop_path":"/2UYxVugjbaPHH5f3cEQveufe75Y.jpg","genre_ids":[28,35],"id":10040,"original_language":"en","original_title":"Miss
        Congeniality 2: Armed and Fabulous","overview":"After her triumph at the Miss
        United States pageant, FBI agent Gracie Hart becomes an overnight sensation
        -- and the new \"face of the FBI\". But it''s time to spring into action again
        when the pageant''s winner, Cheryl, and emcee, Stan, are abducted.","popularity":19.578,"poster_path":"/gcYoIHND3ugn2VH1cNHHNQasEyI.jpg","release_date":"2005-04-14","title":"Miss
        Congeniality 2: Armed and Fabulous","video":false,"vote_average":5.7,"vote_count":1581},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":850659,"original_language":"en","original_title":"Miss
        Congo","overview":"Miss Congo\r 2007\r 3 channel video, sound\r 4 minutes
        44 seconds","popularity":0.6,"poster_path":"/45h1pxlwBpdwJhTGbfQ8DQyLSyH.jpg","release_date":"2007-01-01","title":"Miss
        Congo","video":false,"vote_average":0,"vote_count":0}],"total_pages":1,"total_results":3}'
  recorded_at: Fri, 14 Oct 2022 10:04:44 GMT
recorded_with: VCR 6.1.0
