---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated?api_key=<API Key>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Framed in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by the other inmates -- including an older prisoner named Red -- for his integrity
        and unquenchable sense of hope.","popularity":108.28,"poster_path":"/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg","release_date":"1994-09-23","title":"The
        Shawshank Redemption","video":false,"vote_average":8.7,"vote_count":22052},{"adult":false,"backdrop_path":"/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg","genre_ids":[35,18,10749],"id":19404,"original_language":"hi","original_title":"दिलवाले
        दुल्हनिया ले जायेंगे","overview":"Raj is a rich, carefree, happy-go-lucky
        second generation NRI. Simran is the daughter of Chaudhary Baldev Singh, who
        in spite of being an NRI is very strict about adherence to Indian values.
        Simran has left for India to be married to her childhood fiancé. Raj leaves
      [...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated?api_key=<API Key>&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":"/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg","genre_ids":[10749,35],"id":761053,"original_language":"en","original_title":"Gabriel''s
        Inferno: Part III","overview":"The final part of the film adaption of the
        erotic romance novel Gabriel''s Inferno written by an anonymous Canadian author
        under the pen name Sylvain Reynard.","popularity":46.55,"poster_path":"/fYtHxTxlhzD4QWfEbrC1rypysSD.jpg","release_date":"2020-11-19","title":"Gabriel''s
        Inferno: Part III","video":false,"vote_average":8.5,"vote_count":984},{"adult":false,"backdrop_path":"/iQlJyRecJeGGzQGT2rEcyAgz89F.jpg","genre_ids":[10749,18],"id":762975,"origi[...]
