<% if @top_rated %>
  <section id="top20">
    <h2> Top Rated Movies </h2>
    <% @top_rated.each do |movie| %>
      <h6> Vote Average: <%= movie.vote_average %> : <%= link_to "#{movie.title}", "/movies/#{movie.id}" %> </h6>
      <br>
    <% end %>
  </section>
<% end %>

<% if @found_movies %>
  <section id="results">
    <h2> Movie Results </h2>
    <% @found_movies.each do |movie| %>
      <h6> Vote Average: <%= movie.vote_average %> : <%= link_to "#{movie.title}", "/movies/#{movie.id}" %> </h6>
      <br>
    <% end %>
  </section>
<% end %>
