<center>
  <%= button_to "Discover Page", discover_user_path(@user), method: :get %>
</center>

<div style="margin:auto;width:40%;" class="movies">
    <% @top_movies.each do |movie| %>
     <section id="movie-<%= movie.id %>">
       <div style="text-align:left;">
        <%= link_to movie.title, user_movie_path(@user, movie.id) %> 
       </div>
       <div style="text-align:right;">
        Vote Average: <%= movie.vote_average %>
       </div>
     </section>
    <% end %>
</div>