<%= button_to 'Discover Movies', discover_user_path(@user), method: :get %>

<table id='results'>
  <% @movies.each_with_index do |movie, index| %>
    <tr id="movie-<%= index %>">
      <td><%= link_to movie.title, user_movie_path(@user, movie.id, type: 'show') %></td>

      <td>Vote Average: <%= movie.vote_average %></td>
    </tr>
  <% end %>
</table>
