<h2>Here Are Your Results</h2>

<div id="discover-page-button">
  <%= button_to "Discover Page", user_discover_index_path(@user), method: :get %>
</div>

<div id="display-movies">
  <% @movies.each do |movie| %>
    <b><%= link_to movie.title, user_movie_path(@user, movie.movie_id) %></b><br>
    Vote Avg: <%= movie.vote_average %><br>
    <p></p>
  <% end %>
</div>
