---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/24126?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Wed, 30 Mar 2022 23:04:06 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/24126/credits?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Wed, 30 Mar 2022 23:04:06 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/24126?api_key=movie_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0ef9081ef7ce34f15297b5b9c1625bf764bc05fe
      X-Memc-Age:
      - '611'
      X-Memc-Expires:
      - '15432'
      Etag:
      - W/"169c6da3e89c73073264c633b0302012"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/meOtdGhHZIOCmCdBqVe1AzTG7M2.jpg","belongs_to_collection":{"id":87536,"name":"Warlock
        Collection","poster_path":"/wkwtv5NMpBfo1eGjZpNJEQ2cZH0.jpg","backdrop_path":"/im5iJHo8UwswhKHlcADqUO3sZtA.jpg"},"budget":3000000,"genres":[{"id":14,"name":"Fantasy"},{"id":27,"name":"Horror"},{"id":878,"name":"Science
        Fiction"}],"homepage":"","id":24126,"imdb_id":"tt0108517","original_language":"en","original_title":"Warlock:
        The Armageddon","overview":"Every six hundred years, a great evil has the
        opportunity to escape and unleash Armageddon. A group of five stones has the
        power to either free the evil, or banish it for another six hundred years.
        An order of Druids battles with a Warlock determined to unleash his father
        upon the world.","popularity":13.815,"poster_path":"/qpRtxbnLb0qFP93db5vwDDXvWz2.jpg","production_companies":[{"id":870,"logo_path":null,"name":"Tapestry
        Films","origin_country":"US"},{"id":4063,"logo_path":null,"name":"Trimark
        Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1993-05-01","revenue":3902679,"runtime":98,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"When
        he comes... All hell breaks loose.","title":"Warlock: The Armageddon","video":false,"vote_average":5.3,"vote_count":106}'
  recorded_at: Thu, 07 Apr 2022 23:03:28 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/24126/credits?api_key=movie_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0ba4bec9bbb0ccb47b692c028ddb6ee62fb0052b
      X-Memc-Age:
      - '6916'
      X-Memc-Expires:
      - '10780'
      Etag:
      - W/"bb25e6a69cd359d7ecca319e18b997ed"
    body:
      encoding: ASCII-8BIT
      string: '{"id":24126,"cast":[{"adult":false,"gender":2,"id":6104,"known_for_department":"Acting","name":"Julian
        Sands","original_name":"Julian Sands","popularity":13.054,"profile_path":"/8TYtEyKZle2B3cUYT7FBM9HJRtZ.jpg","cast_id":1,"character":"Warlock","credit_id":"52fe4483c3a368484e02768b","order":0},{"adult":false,"gender":2,"id":27504,"known_for_department":"Acting","name":"Chris
        Young","original_name":"Chris Young","popularity":1.614,"profile_path":null,"cast_id":2,"character":"Kenny
        Travis","credit_id":"52fe4483c3a368484e02768f","order":1},{"adult":false,"gender":1,"id":59449,"known_for_department":"Acting","name":"Paula
        Marshall","original_name":"Paula Marshall","popularity":12.826,"profile_path":"/rBmk7DDOYHempHWrPnijRvPDFaW.jpg","cast_id":3,"character":"Sama[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/24126/reviews?api_key=movie_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 5759651916741685528cb7b987364054b526dcba
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '14570'
      Last-Modified:
      - '2022-01-18 05:19:23 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":24126,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 07 Apr 2022 23:03:28 GMT
[...]
