---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/movies/550?api_key=a1905be2994d0fa21bf724f7fc1aff66
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>404 Not Found</title></head>\r\n<body>\r\n<center><h1>404
        Not Found</h1></center>\r\n<hr><center>openresty</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 29 Nov 2022 22:35:21 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movies/550?api_key=d2f1b9be342b37545080c483cbb15baa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Wed, 30 Nov 2022 18:33:59 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/550
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - d2f1b9be342b37545080c483cbb15baa
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Wed, 30 Nov 2022 18:35:28 GMT
recorded_with: VCR 6.1.0
