---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/5244?api_key=<api_key>&language=en-US&x-api-key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 8033e21c8d7bc3c58320ec4d0a4eb0ee25a10e53
      X-Memc-Age:
      - '12265'
      X-Memc-Expires:
      - '4644'
      Etag:
      - W/"a11819d94ef689420547b2ee487cb6b9"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":18,"name":"Drama"},{"id":878,"name":"Science
        Fiction"},{"id":10749,"name":"Romance"}],"homepage":"","id":5244,"imdb_id":"tt0197770","original_language":"en","original_title":"Pleasurecraft","overview":"A
        crew of astronauts are tasked with delivering three beautiful women to their
        superiors. Provided that they don''t get seduced by them before reaching their
        destination.","popularity":2.08,"poster_path":"/A9wVs8unGUBwQgXcsJuL0w0dkcK.jpg","production_companies":[{"id":1889,"logo_path":null,"name":"Surrender
        Cinema","origin_country":""}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1999-01-01","revenue":0,"runtime":82,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Pleasurecraft","video":false,"vote_average":1.0,"vote_count":2}'
  recorded_at: Thu, 24 Mar 2022 21:04:29 GMT
recorded_with: VCR 6.1.0
