---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/24126?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Wed, 30 Mar 2022 23:04:07 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/24126?api_key=movie_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0ef9081ef7ce34f15297b5b9c1625bf764bc05fe
      X-Memc-Age:
      - '13921'
      X-Memc-Expires:
      - '3173'
      Etag:
      - W/"eea1a60fa4fdfc87ed954cffcd84642e"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/meOtdGhHZIOCmCdBqVe1AzTG7M2.jpg","belongs_to_collection":{"id":87536,"name":"Warlock
        Collection","poster_path":"/wkwtv5NMpBfo1eGjZpNJEQ2cZH0.jpg","backdrop_path":"/im5iJHo8UwswhKHlcADqUO3sZtA.jpg"},"budget":3000000,"genres":[{"id":14,"name":"Fantasy"},{"id":27,"name":"Horror"},{"id":878,"name":"Science
        Fiction"}],"homepage":"","id":24126,"imdb_id":"tt0108517","original_language":"en","original_title":"Warlock:
        The Armageddon","overview":"Every six hundred years, a great evil has the
        opportunity to escape and unleash Armageddon. A group of five stones has the
        power to either free the evil, or banish it for another six hundred years.
        An order of Druids battles with a Warlock determined to unleash his father
        upon the world.","popularity":12.822,"poster_path":"/qpRtxbnLb0qFP93db5vwDDXvWz2.jpg","production_companies":[{"id":870,"logo_path":null,"name":"Tapestry
        Films","origin_country":"US"},{"id":4063,"logo_path":null,"name":"Trimark
        Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1993-05-01","revenue":3902679,"runtime":98,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"When
        he comes... All hell breaks loose.","title":"Warlock: The Armageddon","video":false,"vote_average":5.3,"vote_count":106}'
  recorded_at: Sat, 09 Apr 2022 02:30:28 GMT
recorded_with: VCR 6.1.0
