---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?query=1098236
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer movies_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 30 Nov 2022 19:01:02 GMT
recorded_with: VCR 6.1.0
