---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/123?api_key=7167fae23251322593f42f52cefd735a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c33f1ae3ad898e8abd8e3235daac6c22b7770a22
      X-Memc-Age:
      - '11441'
      X-Memc-Expires:
      - '3111'
      Etag:
      - W/"e905220461b818eb2e032cc8983c51ba"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/jOuCWdh0BE6XPu2Vpjl08wDAeFz.jpg","belongs_to_collection":null,"budget":4000000,"genres":[{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":14,"name":"Fantasy"}],"homepage":"","id":123,"imdb_id":"tt0077869","original_language":"en","original_title":"The
        Lord of the Rings","overview":"The Fellowship of the Ring embark on a journey
        to destroy the One Ring and end Sauron''s reign over Middle-earth.","popularity":38.089,"poster_path":"/liW0mjvTyLs7UCumaHhx3PpU4VT.jpg","production_companies":[{"id":286,"logo_path":null,"name":"Fantasy
        Films","origin_country":""},{"id":4921,"logo_path":null,"name":"Bakshi Productions","origin_country":""},{"id":141322,"logo_path":null,"name":"Saul
        Zaentz Film Productions","origin_country":""}],"production_countries":[{"iso_3166_1":"ES","name":"Spain"},{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1978-11-15","revenue":30471420,"runtime":132,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Fantasy...beyond
        your imagination","title":"The Lord of the Rings","video":false,"vote_average":6.57,"vote_count":676}'
  recorded_at: Fri, 14 Oct 2022 23:56:45 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/456?api_key=7167fae23251322593f42f52cefd735a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - 31feae3a0d6de7e07948aeec07542d285f3eced6
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '15252'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Fri, 14 Oct 2022 23:56:45 GMT
recorded_with: VCR 6.1.0
