---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/5244/reviews?api_key=tmdb_key&language=en-US&x-api-key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c856fcbf07872c5fc6bbcf4989d376f966abf707
      X-Memc-Age:
      - '1196'
      X-Memc-Expires:
      - '14473'
      Etag:
      - W/"ac6bb16dc9cc3fa60f1582c90da3dac1"
    body:
      encoding: ASCII-8BIT
      string: '{"id":5244,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 23 Mar 2022 23:13:31 GMT
recorded_with: VCR 6.1.0
