---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?query=The%20Green%20Mile
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer movies_api_key
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/l6hQWH9eDksNJNiXWYRkWqikOdu.jpg","genre_ids":[14,18,80],"id":497,"original_language":"en","original_title":"The
        Green Mile","overview":"A supernatural tale set on death row in a Southern
        prison, where gentle giant John Coffey possesses the mysterious power to heal
        people''s ailments. When the cell block''s head guard, Paul Edgecomb, recognizes
        Coffey''s miraculous gift, he tries desperately to help stave off the condemned
        man''s execution.","popularity":57.567,"poster_path":"/velWPhVMQeQKcxggNEU8YmIo52R.jpg","release_date":"1999-12-10","title":"The
        Green Mile","video":false,"vote_average":8.5,"vote_count":14667},{"adult":false,"backdrop_path":null,"genre_ids":[99,18],"id":456703,"original_language":"en","original_title":"Walking
        the Mile: The Making of The Green Mile","overview":"Frank Darabont explains
        how this new project was introduced thru a phone call from Stephen King as
        \"another prison tale\" if he was interested to make it, the answer was not,
        King expose his concept idea in few words, however Frank asking to Stephen
        send the script to him firstly,[...]
