---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key&query=Jack%20Reacher
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

'
  recorded_at: Wed, 30 Mar 2022 23:04:08 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=movie_api_key&query=Jack%20Reacher
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/k7h4RNAarfOrF2r2YMN0P2FQSr4.jpg","genre_ids":[80,18,53,28],"id":75780,"original_language":"en","original_title":"Jack
        Reacher","overview":"When a gunman takes five lives with six shots, all evidence
        points to the suspect in custody. On interrogation, the suspect offers up
        a single note: \"Get Jack Reacher!\" So begins an extraordinary chase for
        the truth, pitting Jack Reacher against an unexpected enemy, with a skill
        for violence and a secret to keep.","popularity":141.187,"poster_path":"/zlyhKMi2aLk25nOHnNm43MpZMtQ.jpg","release_date":"2012-12-20","title":"Jack
        Reacher","video":false,"vote_average":6.6,"vote_count":5732},{"adult":false,"backdrop_path":"/ww1eIoywghjoMzRLRIcbJLuKnJH.jpg","genre_ids":[28,53],"id":343611,"original_language":"en","original_title":"Jack
        Reacher: Never Go Back","overview":"When Major Susan Turner is arrested for
        treason, ex-investigator Jack Reacher undertakes the challenging task to prove
        her innocence and ends up exposing a shocking conspiracy.","popularity":131.426,"poster_path":"/wxLUQ1pIms3HAlVGYvEG9zg2kDs.jpg","release_date":"2016-10-19","title":"Jack
        Reacher: Never Go Back","video":false,"vote_average":5.9,"vote_count":3954}],"total_pages":1,"total_results":2}'
  recorded_at: Thu, 07 Apr 2022 23:03:30 GMT
recorded_with: VCR 6.1.0
