<div class="row">
  <div class="col m-1 d-flex  justify-content-center">
    <ul>
      <% @users.each do |user| %>
        <li><%= link_to user.name, user_path(user.id) %></li>
      <% end %>
    </ul>
  </div>
</div>