
<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <%= link_to "Home", root_path, class: "nav-item btn btn-primary m-1" %>
      <%= link_to "Users", users_index_path, class: "nav-item btn btn-primary m-1" %>
    </ul>
  </header>
</div>
