---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=1&query=spongebob
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 4860d07a96aecb271db8172425980ddd
      X-Memc-Age:
      - '16751'
      X-Memc-Expires:
      - '10198'
      Etag:
      - W/"a6417d62eaa68d242f638e68b22c982f"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/wu1uilmhM4TdluKi2ytfz8gidHf.jpg","genre_ids":[10751,16,14,12,35],"id":400160,"original_language":"en","original_title":"The
        SpongeBob Movie: Sponge on the Run","overview":"When his best friend Gary
        is suddenly snatched away, SpongeBob takes Patrick on a madcap mission far
        beyond Bikini Bottom to save their pink-shelled pal.","popularity":107.924,"poster_path":"/jlJ8nDhMhCYJuzOw3f52CP1W8MW.jpg","release_date":"2020-08-14","title":"The
        SpongeBob Movie: Sponge on the Run","video":false,"vote_average":7.532,"vote_count":2633},{"adult":false,"backdrop_path":"/i2fZIltljrhFPsUK9PN6O6ZE7M4.jpg","genre_ids":[10751,16,35,14,12],"id":11836,"original_language":"en","original_title":"The
        SpongeBob SquarePants Movie","overview":"There''s trouble brewing in Bikini
        Bottom. Someone has stolen King Neptune''s crown, and it looks like Mr. Krab,
        SpongeBob''s boss, is the culprit. Though he''s just been passed over for
        the promotion of his dreams, SpongeBob stands by his boss, and along with
    [...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=2&query=spongebob
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - cf32522afbcd5d87079a0e5540d69b5c
      X-Memc-Age:
      - '7936'
      X-Memc-Expires:
      - '19863'
      Etag:
      - W/"a29fce76998b08fbca122bd57ba82ce1"
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":"/4FvZQo5rCmiQVlNyjybflCJHL4F.jpg","genre_ids":[16,35,12],"id":1088812,"original_language":"en","original_title":"SpongeBob
        SquarePants Presents the Tidal Zone","overview":"GrandPat travels through
        alternate dimensions and timelines to get home.","popularity":2.261,"poster_path":"/rozwpOPiTEYnXygWGvUPST4lVQa.jpg","release_date":"2023-01-13","title":"SpongeBob
        SquarePants Presents the Tidal Zone","video":false,"vote_average":0.0,"vote_count":0},{"adult":false,"backdrop_path":null,"genre_ids":[16,35,10751],"id":300173,"original_language":"en","original_title":"SpongeBob
        SquarePants: Triton''s Revenge","overview":"","popularity":2.934,"poster_path":null,"release_date":"2010-07-13","title":"SpongeBob
        SquarePants: Triton''s Revenge","video":true,"vote_average":7.2,"vote_count":11},{"adult":false,"backdrop_path":null,"genre_ids":[16,10751],"id":286882,"original_language":"en","original_title":"Spongebob
        Squarepants: Spongebob Goes Prehistoric","overview":"It''s twice the underwater
        hilarity in a double-length feature episode with SpongeBob, Patrick and Squidward
        as three pioneering sea dwellers in the time before comedy (BC). \"SpongeBob
        Goes Prehistoric\" includes a double-length episode plus eight bonus episodes:
        SpongeBob BC, Nature Pants, Fools in April, I''m with Stupid, Patty Hype,
        Squid on Strike, The Great Snail Race, Plankton''s Arm, and Squilliam Returns.",[...]
