---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=DONT SHOW MY API KEY&page=1&query=The%20Shawshank%20Redemption
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Framed in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by the other inmates -- including an older prisoner named Red -- for his integrity
        and unquenchable sense of hope.","popularity":103.792,"poster_path":"/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg","release_date":"1994-09-23","title":"The
        Shawshank Redemption","video":false,"vote_average":8.7,"vote_count":22061},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":897459,"original_language":"en","original_title":"Hope
        Springs Eternal: A Look Back at The Shawshank Redemption","overview":"Documentary
        about the movie.","popularity":0.675,"poster_path":"/vdVab7yNvgYEMd8shCfy2D6nTMu.jpg","release_date":"2004-06-25","title":"Hope
        Springs Eternal: A Look Back at The Shawshank Redemption","video":false,"vote_average":7,"vote_count":1}],"total_pages":1,"total_results":2}'
  recorded_at: Fri, 26 Aug 2022 15:27:11 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=DONT SHOW MY API KEY&page=2&query=The%20Shawshank%20Redemption
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":2,"results":[],"total_pages":1,"total_results":2}'
  recorded_at: Fri, 26 Aug 2022 15:27:11 GMT
recorded_with: VCR 6.1.0
