---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=1&query=spongebob
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/i2fZIltljrhFPsUK9PN6O6ZE7M4.jpg","genre_ids":[10751,16,35,14,12,28],"id":11836,"original_language":"en","original_title":"The
        SpongeBob SquarePants Movie","overview":"There''s trouble brewing in Bikini
        Bottom. Someone has stolen King Neptune''s crown, and it looks like Mr. Krab,
        SpongeBob''s boss, is the culprit. Though he''s just been passed over for
        the promotion of his dreams, SpongeBob stands by his boss, and along with
        his best pal Patrick, sets out on a treacherous mission to Shell City to reclaim
        the crown and save Mr. Krab''s life.","popularity":61.048,"poster_path":"/1rvzKV1d18EbDVaEd4VDzK3cgnY.jpg","release_date":"2004-11-14","title":"The
        SpongeBob SquarePants Movie","video":false,"vote_average":7,"vote_count":2443},{"adult":false,"backdrop_path":"/wu1uilmhM4TdluKi2ytfz8gidHf.jpg","genre_ids":[10751,16,14,12,35],"id":400160,"original_language":"en","original_title":"The
        SpongeBob Movie: Sponge on the Run","overview":"When his best friend Gary
        is suddenly snatched away, SpongeBob takes Patrick on a madcap mission far
        beyond Bikini Bottom to save their pink-shelled pal.","popularity":105.85,"poster_path":"/jlJ8nDhMhCYJuzOw3f52CP1W8MW.jpg","release_date":"2020-08-14","title":"The
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=2&query=spongebob
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[16],"id":299702,"original_language":"en","original_title":"Spongebob
        Squarepants: Deep-Sea Games","overview":"12 more wacky adventures featuring
        the kind-hearted sea sponge and his friends Squidward, Mr Krabs, Patrick the
        Starfish, and Sandy the Squirrel. The episodes are: ''Extreme Spots'', ''The
        Fry Cook Games'', ''Karate Choppers'', ''A Friendly Game'', ''Jellyfishing'',
        ''Demolition Doofus'', ''Shuffleboarding'', ''Krusty Krushers'', ''A Life
        in the Day'', ''The Hot Shot'', ''Prehibernation Week'' and ''Musclebob Buffpants''.","popularity":1.38,"poster_path":null,"release_date":"1999-04-26","title":"Spongebob
        Squarepants: Deep-Sea Games","video":true,"vote_average":5.6,"vote_count":7},{"adult":false,"backdrop_path":null,"genre_ids":[16],"id":488884,"original_language":"en","original_title":"SpongeBob
        Squarepants - Absorbing Favorites","overview":"9 underwater Favorites!","popularity":1.898,"poster_path":"/gA0h1uVRotv9cvpIiCwVy9BIKXh.jpg","release_date":"2005-09-20","title":"SpongeBob
        Squarepants - Absorbing Favorites","video":true,"vote_average":5.7,"vote_count":3},{"adult":false,"backdrop_path":"/iLIxJ9YjKnfafBGqwUoFrkYG3nA.jpg","genre_ids":[10751,16,35],"id":299082,"original_language":"en","original_title":"SpongeBob
        SquarePants: Spongebob''s Last Stand","overview":"In the never-before seen
        episode, SpongeBob''s Last stand, all chaos breaks loose in Bikini Bottom
        when SpongeBob and Patrick hear that a new highway will be running through
        Jellyfish fields, outraged they decide to protest; SpongeBob style. Plus,
        don''t miss out on the other new-to-DVD adventures that will surely keep you
        laughing.","popularity":0.945,"poster_path":"/uAYHpv2fFSrtDbvjNrZTPTUoodx.jpg","release_date":"20[...]
