---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=1&query=spongebob
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/i2fZIltljrhFPsUK9PN6O6ZE7M4.jpg","genre_ids":[10751,16,35,14],"id":11836,"original_language":"en","original_title":"The
        SpongeBob SquarePants Movie","overview":"There''s trouble brewing in Bikini
        Bottom. Someone has stolen King Neptune''s crown, and it looks like Mr. Krab,
        SpongeBob''s boss, is the culprit. Though he''s just been passed over for
        the promotion of his dreams, SpongeBob stands by his boss, and along with
        his best pal Patrick, sets out on a treacherous mission to Shell City to reclaim
        the crown and save Mr. Krab''s life.","popularity":109.298,"poster_path":"/h2q2G2SRO0EixNu1Th16TbKPHvK.jpg","release_date":"2004-11-14","title":"The
        SpongeBob SquarePants Movie","video":false,"vote_average":7,"vote_count":2347},{"adult":false,"backdrop_path":"/wu1uilmhM4TdluKi2ytfz8gidHf.jpg","genre_ids":[10751,16,14,12,35],"id":400160,"original_language":"en","original_title":"The
        SpongeBob Movie: Sponge on the Run","overview":"When his best friend Gary
        is suddenly snatched away, SpongeBob takes Patrick on a madcap mission far
        beyond Bikini Bottom to save their pink-shelled pal.","popularity":187.805,"poster_path":"/jlJ8nDhMhCYJuzOw3f52CP1W8MW.jpg","release_date":"2020-08-14","title":"The[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=2&query=spongebob
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":"/bD2PYUSh3xcwGzya5UD8KkM7uv8.jpg","genre_ids":[28,12,16,35],"id":444743,"original_language":"en","original_title":"SpongeBob
        & Friends: Patrick SquarePants","overview":"Patrick SquarePants is a SpongeBob
        SquarePants DVD featuring Patrick. It features episodes where Patrick plays
        a very big role. The DVD contains 3 episodes from Season 2, 1 episode from
        Season 3, 5 episodes from Season 4, 2 episodes from Season 7 and 3 episodes
        from Season 8.","popularity":3.364,"poster_path":null,"release_date":"2014-01-14","title":"SpongeBob
        & Friends: Patrick SquarePants","video":true,"vote_average":7.1,"vote_count":12},{"adult":false,"backdrop_path":null,"genre_ids":[16,35,10751],"id":300173,"original_language":"en","original_title":"SpongeBob
        SquarePants: Triton''s Revenge","overview":"","popularity":2.167,"poster_path":null,"release_date":"2010-07-13","title":"SpongeBob
        SquarePants: Triton''s Revenge","video":true,"vote_average":7.2,"vote_count":11},{"adult":false,"backdrop_path":null,"genre_ids":[16,10751],"id":286882,"original_language":"en","original_title":"Spongebob
        Squarepants: Spongebob Goes Prehistoric","overview":"It''s twice the underwater
        hilarity in a double-length feature episode with SpongeBob, Patrick and Squidward
        as three pioneering sea dwellers in the time before comedy (BC). \"SpongeBob
        Goes Prehistoric\" includes a double-length episode plus eight bonus episodes:
        SpongeBob BC, Nature Pants, Fools in April, I''m with Stupid, Patty Hype,
        Squid on Strike, The Great Snail Race, Plankton''s Arm, and Squilliam Returns.",[...]
