---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=1&query=spongebob
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/wu1uilmhM4TdluKi2ytfz8gidHf.jpg","genre_ids":[10751,16,14,12,35],"id":400160,"original_language":"en","original_title":"The
        SpongeBob Movie: Sponge on the Run","overview":"When his best friend Gary
        is suddenly snatched away, SpongeBob takes Patrick on a madcap mission far
        beyond Bikini Bottom to save their pink-shelled pal.","popularity":240.158,"poster_path":"/jlJ8nDhMhCYJuzOw3f52CP1W8MW.jpg","release_date":"2020-08-14","title":"The
        SpongeBob Movie: Sponge on the Run","video":false,"vote_average":7.6,"vote_count":2537},{"adult":false,"backdrop_path":"/i2fZIltljrhFPsUK9PN6O6ZE7M4.jpg","genre_ids":[10751,16,35,14],"id":11836,"original_language":"en","original_title":"The
        SpongeBob SquarePants Movie","overview":"There''s trouble brewing in Bikini
        Bottom. Someone has stolen King Neptune''s crown, and it looks like Mr. Krab,
        SpongeBob''s boss, is the culprit. Though he''s just been passed over for
        the promotion of his dreams, SpongeBob stands by his boss, and along with
       [...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=2&query=spongebob
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[16,35,10751],"id":300173,"original_language":"en","original_title":"SpongeBob
        SquarePants: Triton''s Revenge","overview":"","popularity":2.395,"poster_path":null,"release_date":"2010-07-13","title":"SpongeBob
        SquarePants: Triton''s Revenge","video":true,"vote_average":7.2,"vote_count":11},{"adult":false,"backdrop_path":"/30rShrB6Nc6Lu64qYTzkJpFmz0Z.jpg","genre_ids":[16,35,12],"id":782365,"original_language":"en","original_title":"Spongebob
        Square Pants: Bikini Bottom Buddies","overview":"","popularity":5.737,"poster_path":"/8RwKrAj4QkLliYvP80HaWMgDBz5.jpg","release_date":"2014-07-21","title":"Spongebob
        Square Pants: Bikini Bottom Buddies","video":true,"vote_average":1,"vote_count":1},{"adult":false,"backdrop_path":"/hznC6fqTDStjn6vQKZBcaoehby1.jpg","genre_ids":[10751,10402,35,10770],"id":651985,"original_language":"en","original_title":"The
        SpongeBob Musical: Live on Stage!","overview":"SpongeBob and all of Bikini
        Bottom face catastrophe—until a most unexpected hero rises to take center
        stage.","popularity":3.27,"poster_path":"/pbhA6MorVpzWozMgGKLpdyBn8vE.jpg","release_date":"2019-12-07","title":"The
        SpongeBob Musical: Live on Stage!","video":false,"vote_average":7.4,"vote_count":16},{"adult":false,"backdrop_path":null,"genre_ids":[16],"id":299702,"original_language":"en","original_title":"Spongebob
        Squarepants: Deep-Sea Games","overview":"12 more wacky adventures featuring
        the kind-hearted sea sponge and his friends Squidward, Mr Krabs, Patrick the
        Starfish, and Sandy the Squirrel. The episodes are: ''Extreme Spots'', ''The
        Fry Cook Games'', ''Karate Choppers'', ''A Friendly Game'', ''Jellyfishing'',
        ''Demolition Doofus'', ''Shuffleboarding'', ''Krusty Krushers'', ''A Life
        in the Day'', ''The Hot Shot'', ''Prehibernation Week'' and ''Musclebob Buffpants''.","popularity":2.225,"poster_path":null,"release_date":"1999-04-26","title":"Spongebob
        Squarepants: Deep-Sea Games","video":true,"vote_average":5.6,"vote_count":7},{"adult":false,"backdrop_path":"/8QlYQxBo6SueGdFgZKBWfkQ98ur.jpg","genre_ids":[16,12,35],"id":782395,"original_language":"en","original_title":"SpongeBob
        SquarePants: SpongeBob''s Extreme Ka-ra-tay","overview":"","popularity":3.105,"poster_path":"/7Zm52fLu01EtxB0sWx6HIrKDrj6.jpg","release_date":"2013-01-15","title":"SpongeBob
        SquarePants: SpongeBob''s Extreme Ka-ra-tay","video":false,"vote_average":1,"vote_count":1},{"adult":false,"backdrop_path":"/qWCLqvJcpzahFi2lcVTFGKtyqhZ.jpg","genre_ids":[10751],"id":892303,"original_language":"en","original_title":"SpongeBob
        SquarePants Halloween","overview":"SpongeBob and friends have an ocean full
        of spookiness to deal with in this five episode spooky compilation DVD special,
        including: Scaredy Pants, Imitation Krabs, Frankendoodle, I Was a Teenage
        Gary, and Squidward the Unfriendly Ghost. And five extra bubblin'' bonus episodes,
        including: The Secret Box, Band Geeks, Welcome to the Chum Bucket, My Pretty
        Seahorse, and Idiot Box.","popularity":2.655,"poster_path":"/rINH04lqf4mBqcH5RLfTAXRWuYD.jpg","release_date":"2002-08-27","title":"SpongeBob
        SquarePants Halloween","video":true,"vote_average":8.7,"vote_count":3},{"adult":false,"backdrop_path":"[...]
