---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated?api_key=<API Key>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/2I5eBh98Q4aPq8WdQrHdTC8ARhY.jpg","genre_ids":[28,12,16,878],"id":569094,"original_language":"en","original_title":"Spider-Man:
        Across the Spider-Verse","overview":"After reuniting with Gwen Stacy, Brooklyn’s
        full-time, friendly neighborhood Spider-Man is catapulted across the Multiverse,
        where he encounters the Spider Society, a team of Spider-People charged with
        protecting the Multiverse’s very existence. But when the heroes clash on how
        to handle a new threat, Miles finds himself pitted against the other Spiders
        and must set out on his own to save those he loves most.","popularity":2921.844,"poster_path":"/8Vt6mWEReuy4Of61Lnj5Xj704m8.jpg","release_date":"2023-05-31","title":"Spider-Man:
        Across the Spider-Verse","video":false,"vote_average":8.8,"vote_count":739},{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        o[...]
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/278?api_key=<API Key>&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"9ed209b8be0ec63a51b7be33f8187264"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg","belongs_to_collection":null,"budget":25000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"","id":278,"imdb_id":"tt0111161","original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Framed in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by the other inmates -- including an older prisoner named Red -- for his integrity
        and unquenchable sense of hope.","popularity":73.259,"poster_path":"/q6y0Go1tsGEsmtFryDOJo3dEmqu.jpg","production_companies":[{"id":97,"logo_path":"/7znWcbDd4PcJzJUlJxYqAlPPykp.png","name":"Castle
        Rock Entertainment","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1994-09-23","revenue":28341469,"runtime":142,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Fear
        can hold you prisoner. Hope can set you free.","title":"The Shawshank Redemption","video":false,"vote_average":8.703,"vote_count":23900,"credits":{"cast":[{"adult":false,"gender":2,"id":504,"known_for_department":"Acting","name":"Tim
        Robbins","original_name":"Tim Robbins","popularity":23.358,"profile_path":"/A4fHNLX73EQs78f2G6ObfKZnvp4.jpg","cast_id":3,"character":"Andy
        Dufresne","credit_id":"52fe4231c3a36847f800b131","order":0},{"adult":false,"gender":2,"id":192,"known_for_department":"Acting","name":"Morgan
        Freeman","original_name":"Morgan Freeman","popularity":49.434,"profile_path":"/jPsLqiYGSofU4s6BjrxnefMfabb.jpg","cast_id":4,"character":"Ellis
        Boyd ''Red'' Redding","credit_id":"52fe4231c3a36847f800b135","order":1},{"adult":false,"gender":2,"id":4029,"known_for_department":"Acting","name":"Bob
        Gunton","original_name":"Bob Gunton","popularity":19.634,"profile_path":"/rr2KDCKK4t0f5YhZibCpLC[...]
