<h2 style="text-align:center">
  <%= @user.name %>'s Dashboard
</h2>

<div id="discover_button">
  <%= button_to 'Discover Movies', "/users/#{@user.id}/discover", method: :get, local: true %>  
</div>
