<h2 style="text-align:center">
  <%= @user.name %>'s Dashboard
</h2>

<div id="discover_button"; style="text-align:center">
  <%= button_to 'Discover Movies', "/users/#{@user.id}/discover", method: :get, local: true %>
</div><hr>

<div id="viewing_parties"; style="text-align:center">
  <h3>Viewing Parties</h3>
</div>
