<center>

<h1>Viewing Party</h1>
<h3>Discover Movies</h3>

<%= button_to "Discover Top Rated Movies", "/users/#{@user.id}/movies", method: :get %>

<p>OR</p>

<%= form_with url: "/movies", method: :get, local: true do |form| %>
  <%= form.text_field :search, placeholder: "Search by Movie Title" %>
  <%= form.submit "Find Movies" %>
<% end %>

</center>