<center><h2>Discover Movies</h2></center>
<center><%= button_to "Find Top Rated Movies", "/users/#{@user.id}/movies?q=top%20rated", method: :get%></center>
<br>
<center><h2>Or Search For Movies by Title:</h2></center>
<center><%= form_with url: "/users/#{@user.id}/movies", method: :get, local: true do |f| %>
  <%= f.text_field :search, placeholder: 'Search by movie title' %>
  <%= f.submit 'Find Movies' %>
  <% end %>
</center>
