<h1><center>Viewing Party Lite<center></h1>
<h4><center>Discover Movies<center></h4>

<p><center><%= button_to "Find Top Rated Movies", "/users/#{@user.id}/movies", method: :get %><center></p>


<%= form_with url: "/users/#{@user.id}/movies", method: :get, local: :true do |f| %>
  <%= f.search_field "Find Movies" %>
  <%= f.submit "Find Movies" %>
<% end %>
