<center>
  <h1> Viewing Party Lite </h1>

  <h2> Discover Movies </h2>

  <div class="button">
    <%= button_to "Find Top Rated Movies", "/users/#{@user.id}/movies", params: { q: "top 20rated" }, method: :get %>
  </div>
<p> OR </p>
  <div class="form">
    <%= form_with url: "/users/#{@user.id}/movies", method: :get, local: true do |form| %>
      <%= form.text_field :q, placeholder: "Search by movie title", :required => true %>
      <%= form.submit "Find Movies" %>
    <% end %>
  </div>
</center>
