<%= render partial: 'partials/navbar_default' %>
<br><br>
  <ul>
    <a href="/users/<%= @user.id %>/movies?q=top%20rated" class="btn btn-outline-success my-2 my-sm-0" role='button'>Top Movies</a>
 </ul>