<div class="sub-header">
  Discover Movies
</div>
  
<div id="top_rated">
  <%= button_to "Find Top Rated Movies", "/movies", params: {q: 'top rated'}, method: :get %>
</div>

<div id="search_movies">
<%= form_tag("/movies", method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Find Movies") %>
<% end %>
</div>