<h3>Discover Movies</h3>

<%= button_to "Find Top Rated Movies", "/users/#{@user.id}/movies?q=top%20rated", method: :get, local: true %>

<div id='keyword-search'>
  <%= form_with url: "/users/#{@user.id}/search", local: true do |f| %>
    <%= f.text_field :search %>
    <%= f.submit "Find Movies"%>
  <% end %>
</div>