<div style="text-align:center;">
  <h1 id="title">Viewing Party Lite</h1>
  <h2>Discover Movies</h2>
</div>

<div style="text-align:center;">
  <%= button_to "Discover Top Rated Movies", "/users/#{@user.id}/movies", method: :get, params: {q: 'top%20rated'}, local: true %>
</div>
