
Discover Movies

<span>
  <%button_to 'Top Rated Movies', user_movies_path(@user), method: :get, params: {q: 'top rated'}%>

  OR

  <section id='movie-search'>

    <% form_with url: "/users/#{@user.id}/movies", method: :get, local: true do |form| %>
    <% f.label "Movie Search" %>
    <% f.text_field :q %>
    <% f.submit "Search" %>
    <%end%>

  </section>
</span>