<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Discover</h1>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <%= button_to "Top Rated Movies",  '/register', method: :get, class: "btn btn-primary btn-lg px-4 gap-3" %>
      </div>
    </div>
    <h3 class="display-8 fw-bold mt-3">OR</h3>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <%= form_with url: "/users/#{@user.id}/movies", method: :get, local: :true, class: "form-control" do |f| %>
        <%= f.text_field :name, { class: "form-control input-sm", id: "floatingInput", placeholder: "Movie Title" } %>
      </div>
    </div>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">    
        <%= f.submit "Search by Movie Title", class: "btn btn-primary btn-lg px-4 gap-3" %>
      <% end %> 
      </div>
    </div>
  </div>
</div>