
<p><%= button_to "Top Rated Movies", "/users/:id/movies?q=top%20rated", method: :get %></p>

<%= form_with url: "/users/:id/movies?q=keyword", local: true do |form| %>
  <%= form.text_field :search %>
  <%= form.submit 'Search for Movie' %>
<% end %>
