<% if !current_user %>
<div id='login'>
  <%= render partial: 'login_form', locals: {path: login_path} %>
</div>

<br>

<div id='button'>
  <p>Don't have an account?</p>
  <%= button_to 'Create a New User', register_path, method: :get %>
</div>
<% end %>

<br>
<br>

<h2>Existing Users:</h2>

<br>

<%= render partial: "shared/existing_users", locals: {users: @users} %>
