<center>
  <h1> Viewing Party Lite </h1>

  <div class="button">
    <%= button_to "Create a New User", "/register", method: :get %>
  </div>

  <div class="link">
    Existing Users: <br>
      <% @users.each do |user| %>
        <%= link_to "#{user.email}'s Dashboard", "/users/#{user.id}" %>
      <% end %>
  </div>
</center>
