<center><h3>Discover Movies</h3>

<div id='top-rated'>
  <%= button_to 'Find Top Rated Movies', user_movies_path(@user), method: :get %>
</div><br>

<div id='find-movie'>
  <%= form_with url: user_movies_path(@user), method: :get, local: true do |f| %>
    <%= f.text_field :search %>

    <%= f.submit 'Find Movies' %>
  <% end %>
</div></center>