<div id='landing-page'>
    <% if current_user %>
        <%= button_to 'Logout', login_path, method: :delete %>
    <% else %>
        <p><%= button_to 'Create New User', '/register', method: :get %></p>
        <p><%= button_to 'Log In', '/login', method: :get %></p>
    <% end %>

    <div id="users">
        <% if current_user %>
            <ul>
                <% @users.each do |user| %>
                    <li><%= user.email %></li>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>