
<p><%= button_to 'Create New User', '/register', method: :get %></p>
<p><%= button_to 'Log In', '/login', method: :get %></p>

<div id="users">
    <ul>
        <% @users.each do |user| %>
            <li><%= link_to user.name, user_path(user) %></li>
        <% end %>
    </ul>
</div>