<h1>Viewing Party Lite</h1>

<%= link_to "Create New User", "/register" %>

<h3>Existing Users</h3>

<% @users.each do |user| %>

  <div id = 'user<%= user.id %>'>
    <p>Name: <%= link_to "#{user.name}", "/users/#{user.id}" %></p>
    <p>E-mail: <%= user.email %></p>
  </div>
<% end %>
