<h1>Your Movie Results Are Ready!</h1>

<%= button_to "Back to Discover", "/users/#{@user.id}/discover", method: :get %>

<% @movies.each_with_index do |movie, index| %>
<h3><%= link_to movie.title, "/users/#{@user.id}/movies/#{movie.id}" %></h3>
  <p>Rating: <%= movie.vote_average %></p>
  <% break if index >= 39 %>
  <br>
<% end %>
