<%= button_to "Discover Page", "/users/discover", method: :get %>

<h3>Movies:</h3>

<% @movies.each do |movie| %>
  <p>Title: <%= link_to "#{movie.title}", "/users/movies/#{movie.id}" %></p>
  <p>Average Vote: <%= movie.vote_average %></p>
<% end %>
