<section id = "header">
    <h1> <%= @user.name %> Dashboard</h1>
</section>

<section id = "discover_movies_button">
   <p> <%= button_to 'Discover Movies', "users/#{@user.id}/discover", method: :get %></p>
</section>