<h3> <%= @user.name %>'s Dashboard </h3>
<hr>

<h5> Viewing Parties as Guest </h5>
<h6> image goes here </h6>
<h6>Title: </h6>
<h6> When: </h6>
<h6> Host: </h6>
<h6> Guests: </h6>
<hr>

<h5> Viewing Parties as Host </h5>
<h6> image goes here </h6>
<h6>Title: </h6>
<h6> When: </h6>
<h6> Host: </h6>
<h6> Guests: </h6>
<hr>

<p type="button" class="btn btn-outline-primary"><%= link_to "Discover Movies", user_movies_discover_path(@user) %></p>
<hr>