<h2><%= "#{@user.name}" %>'s Dashboard</h2>

<%= button_to "Discover Movies", user_discover_index_path(@user), method: :get %>

<div id="viewing-parties">
  <h2>Viewing Parties I'm Invited To</h2>
  <div id="invited-parties">
    <%= render partial: 'parties', :locals => { party_list: @user.invited_parties } %>
  </div>

  <h2>Viewing Parties I'm Hosting</h2>
  <div id="hosted-parties">
    <%= render partial: 'parties', :locals => { party_list: @user.hosted_parties } %>
  </div>
</div>