<h1><%= "#{@user.name}'s Dashboard" %></h1>

<div id="#discover-movie-btn"><%= button_to "Discover Movies" %></div>

<h2>Viewing Parties</h2>
<ul id="viewing-parties">
  <% @user.viewing_parties.each do |party| %>
    <li>
      <%= link_to "Viewing Party ##{party.id}", viewing_party_path(party) %>
    </li>
  <% end %>
</ul>