<h3><%= "#{@user.name}'s " %>Dashboard Page</h3>

<p><%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %></p>

<div id="viewing-parties">
  <h4><%= "#{@user.name}'s "%>Viewing Parties</h4>
</div>
