<h2><%= "#{@user.name}'s Dashboard" %></h2>
<p><%= button_to "Discover Movies" %></p>
<section id="viewing_parties">
  <% @user.viewing_parties.each do |party| %>
    <li><%= party.event_date.strftime("%B %-d, %Y") %>
        <%= party.start_time.strftime("%I:%M %P") %></li>
  <% end %>
</section>