<h1> <%= @user.name %>'s Dashboard</h3>
  <p>
<div class="container" align="center" id="discover_movies">
      <%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get%>
</div>
</p>
<br>
<h3>Viewing Parties</h3>

<div class='invites'>
<p></p><h4>My Invitations<h4>
</div>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

