
<h1 align="center"> <%= @user.name %>'s Dashboard </h1>

<div class="row" align="center" id="discover_movies">
      <%= button_to("Discover Movies", user_discover_index_path(@user), method: :get)%>      
</div>

<div class="row" align="center" id="viewing_parties">
  <h2>Viewing Parties</h3>
</div>