<div id="title">
<h1><%= @user.name %></h1>
</div>

<div id="discover-movies">
<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
</div>

<div id="watch-parties">
<h2>Current Scheduled Parties!</h2>
<% @user.parties.each do |party| %>
When: <%= party.when %><br>
Runtime: <%= party.duration %><br>

<% end %>
</div>