<div class="row">
  <div class="col d-flex justify-content-center">
    <h4><%= "#{@user.name} Dashboard" %> </h4>
  </div>
</div>
<div class="row mb-3">
  <div class="col d-flex justify-content-center">
    <%= link_to 'Discover Movies', user_discover_index_path(@user.id), class: 'btn btn-primary' %>
  </div>
</div>
<hr>
<div class="row justify-content-center" id="parties">
  <b>Viewing Parties</b>
  <div id="invited_to">
    <%@parties_invited_to.each do |party|%>
      <div id="party_<%=party.id%>">
      
      </div>
    <%end%>
  </div>
  <div id="hosting">
    <%@parties_invited_to.each do |party|%>
      <div id="party_<%=party.id%>">
      </div>
    <%end%>
  </div>
</div>