<div style="text-align:center;">
  <h1><%= @user.name %>'s Dashboard</h1>
  <br>
  <br>
  <br>
  <%= button_to 'Discover Movies', user_discover_path(@user), method: :get %>
  <br>
  <br>
  <hr style="width:75%;height:3px;margin: auto;">
  <h3>Viewing Parties</h3>
</div>
