<h1><%= @user.user_name %>'s Dashboard</h1>
<%=button_to "Discover Movies", user_discover_path(@user), method: :get%>
<hr>
<h2>My Hosted Viewing Parties</h2>
  <%= render partial: 'viewing_party_show', locals: {role: 'Hosting', party_type: 'hosted'} %>

<hr>
<h2>My Invited Viewing Parties</h2>
  <%= render partial: 'viewing_party_show', locals: {role: 'Invited', party_type: 'invited'} %>
