<h2><center><%= @user.name %>'s Dashboard</center></h2><br>

<center><%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %></center>

<hr>
<h3><center>Viewing Parties</center></h3>
