<h3><%= @user.name %>'s Dashboard</h3>
<br>
<%= button_to 'Discover Movies', user_discover_index_path(@user), method: :get %>
<br>
<div id="invited_parties">
  <h3>Viewing Parties I'm Invited to:</h3>

</div>

<div id="hosted_parties">
  <h3>Viewing Parties I'm Hosting:</h3>

</div>