<h1><%= @user.name %>'s Dashboard</h1>

<div id="discover-movies">
  <%= button_to 'Discover Movies', "/discover", method: :get %>
</div>

<div id="top-movies">
  <%= button_to 'Top Movies' %>
</div>

<h2>Viewing Parties</h2>

