<h1><center>Viewing Party </center></h1>
<h2><center><%= "#{@user.name}'s Dashboard" %> </center></h2>
<br>
<center><%= button_to "Discover Movies", user_discover_index_path(@user) %> </center>
<br>
<hr>
<h4><center>Current Viewing Parties<center></h4>
<br>


