<center><h1><%= @user.name %>'s Dashboard</h1></center><br>

<center><%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get%></center>

<hr>

<center><h2>Viewing Parties</h2></center>
