---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/667257/reviews?api_key=DONT SHOW MY API
      KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 89d500eb649699b4f9da44efd06c367bfcb058ac
      X-Memc-Age:
      - '13293'
      X-Memc-Expires:
      - '4562'
      Etag:
      - W/"dcb8c271377403ae5c9aca5285bc13e3"
    body:
      encoding: ASCII-8BIT
      string: '{"id":667257,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 13 Oct 2022 22:28:37 GMT
recorded_with: VCR 6.1.0
