---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/12/reviews?api_key=DONT SHOW MY API KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 65f7c79d5b96bbeff7a5bf8ef19b35f45ffe2939
      X-Memc-Age:
      - '3499'
      X-Memc-Expires:
      - '13566'
      Etag:
      - W/"fa4687e26d383fc53e696759a53f9c75"
    body:
      encoding: ASCII-8BIT
      string: '{"id":12,"page":1,"results":[{"author":"Dave09","author_details":{"name":"","username":"Dave09","avatar_path":null,"rating":null},"content":"One
        of the best animated films I have ever seen. Great characters, amusing animation,
        and laugh-out-loud humor. Also, watch for the little skit shown after the
        credits. It''s all great stuff that simply must be seen.","created_at":"2014-01-14T02:56:02.937Z","id":"52d4a742760ee30e2d0dac9d","updated_at":"2021-06-23T15:57:23.763Z","url":"https://www.themoviedb.org/review/52d4a742760ee30e2d0dac9d"},{"author":"r96sk","author_details":{"name":"","username":"r96sk","avatar_path":"/https://www.gravatar.com/avatar/96c2e0e4ac98450f9e8e3c0a0a40aad8.jpg","rating":9.0},"content":"Utterly
        stunning.\r\n\r\nThere isn''t anything to dislike about <em>''Finding Nemo''</em>,
        it sets the tone perfectly and expertly tells the tale of Nemo, Marlin and
        Dory. Considering how the story goes, the film does an outstanding job at
        seamlessly switching between Nemo''s adventure and his father''s - it''s truly
        terrifically done.\r\n\r\nThis also includes a whole bunch of memorable characters
        and voices. Alexander Gould, Albert Brooks and Ellen DeGeneres are the obvious
        stars as the early mentioned trio. Ther[...]
