---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/271110?api_key=<API Key>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 135c09591ed48adbff648f8b4e4448224ed50b7b
      X-Memc-Age:
      - '1372'
      X-Memc-Expires:
      - '15458'
      Etag:
      - W/"716359fa7657d8914020fab5ee983f27"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/wdwcOBMkt3zmPQuEMxB3FUtMio2.jpg","belongs_to_collection":{"id":131295,"name":"Captain
        America Collection","poster_path":"/2tOgiY533JSFp7OrVlkeRJvsZpI.jpg","backdrop_path":"/ezEpSQhUQxVKdMx81zaSLsTHv7j.jpg"},"budget":250000000,"genres":[{"id":12,"name":"Adventure"},{"id":28,"name":"Action"},{"id":878,"name":"Science
        Fiction"}],"homepage":"https://www.marvel.com/movies/captain-america-civil-war","id":271110,"imdb_id":"tt3498820","original_language":"en","original_title":"Captain
        America: Civil War","overview":"Following the events of Age of Ultron, the
        collective governments of the world pass an act designed to regulate all superhuman
        activity. This polarizes opinion amongst the Avengers, causing two factions
        to side with Iron Man or Captain America, which causes an epic battle between
        former allies.","popularity":118.414,"poster_path":"/rAGiXaUfPzY7CDEyNKUofk3Kw2e.jpg","production_companies":[{"id":420,"logo_path":"/hUzeosd33nzE5MCNsZxCGEKTXaQ.png","name":"Marvel
        Studios","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2016-04-27","revenue":1153296293,"runtime":147,"spoken_languages":[{"english_name":"Romanian","iso_639_1":"ro","name":"Română"},{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"German","iso_639_1":"de","name":"Deutsch"},{"english_name":"Russian","iso_639_1":"ru","name":"Pусский"}],"status":"Released","tagline":"United
        we stand. Divided we fall.","title":"Captain America: Civil War","video":false,"vote_average":7.437,"vote_count":20333}'
  recorded_at: Thu, 13 Oct 2022 21:50:59 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/271110/credits?api_key=<API Key>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 696cc80934a269c4d7be79e4054b7ebae72811f0
      X-Memc-Age:
      - '7193'
      X-Memc-Expires:
      - '7577'
      Etag:
      - W/"155b4b746e8894c413c435f622b177ef"
    body:
      encoding: UTF-8
      string: '{"id":271110,"cast":[{"adult":false,"gender":2,"id":16828,"known_for_department":"Acting","name":"Chris
        Evans","original_name":"Chris Evans","popularity":69.105,"profile_path":"/3bOGNsHlrswhyW79uvIHH1V43JI.jpg","cast_id":9,"character":"Steve
        Rogers / Captain America","credit_id":"543ecb490e0a2667450001db","order":0},{"adult":false,"gender":2,"id":3223,"known_for_department":"Acting","name":"Robert
        Downey Jr.","original_name":"Robert Downey Jr.","popularity":64.754,"profile_path":"/im9SAqJPZKEbVZGmjXuLI4O7RvM.jpg","cast_id":10,"character":"Tony
        Stark / Iron Man","credit_id":"543ecb5fc3a3684fe90001a9","order":1},{"adult":false,"gender":1,"id":1245,"known_for_department":"Acting","name":"Scarlett
        Johansson","original_name":"Scarlett Johansson","popularity":54.162,"profile_path":"/3JT[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/271110/reviews?api_key=<API Key>&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - aae2e4d0c51d1341d99d674354773c0ef58fa984
      X-Memc-Age:
      - '15848'
      X-Memc-Expires:
      - '21'
      Etag:
      - W/"1cc09dbd459da8b7ce401206745767bc"
    body:
      encoding: UTF-8
      string: "{\"id\":271110,\"page\":1,\"results\":[{\"author\":\"Frank Ochieng\",\"author_details\":{\"name\":\"Frank
        Ochieng\",\"username\":\"Frank Ochieng\",\"avatar_path\":\"/https://www.gravatar.com/avatar/d0204b6265e0cf3cc7cd80809df35ba2.jpg\",\"rating\":null},\"content\":\"Well
        another super-sized Marvel Comics superhero saga hits the big screen with
        the selected savior Captain America taking the top billing on the marquee.
        Thus, the pulsating popcorn pleaser **Captain America: Civil War** arrives
        on the scene to giddy audiences that have been loyal and fixated on the successful
        spring of mighty Marvel heroes that have been paraded to viewers throughout
        the last few years. Thankfully, **Captain America: Civil War**[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/271110/reviews?api_key=<API Key>&language=en-US&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 1b5a7ca59dc769ad61f44c8238e74aea68f22194
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17536'
      Last-Modified:
      - Tue, 04 Oct 2022 19:37:28 GMT
    body:
      encoding: UTF-8
      string: '{"id":271110,"page":2,"results":[{"author":"JonathanGreen","author_details":{"name":"","username":"JonathanGreen","avatar_path":"/foos2Ri8RrJyh6zMHtDNKwVgnHo.jpg","rating":null},"content":"This
        battle between Marvel''s finest superheroes left me hanging on the edge of
        my seat. It was a great one, seeing how friends had to choose which side will
        they choose, and to fight for what they believe is right.","created_at":"2020-01-23T03:31:37.629Z","id":"5e29139998f1f1000ff56ae4","updated_at":"2021-06-23T15:58:33.311Z","url":"https://www.themoviedb.org/review/5e29139998f1f1000ff56ae4"},{"author":"Adam
        Rife","author_details":{"name":"Adam Rife","username":"AdamRife","avatar_path":"/9vaYFFgdkzacJ9hJpEnZWLp88if.jpg","rating":null},"content":"Truly
        fantastic. Captain America Civil War showed the true colors for both Iron
        man and Captain America. It showed the relationships between the avengers
        and who they can really trust. I''m proud of what <a href=\"https://paperhelp.nyc/\">paperhelp</a>
        did for this movie out ten this movie is a 100. It truly showed that when
        it comes to the Avengers everyone can be the leader (although I think Iron
        man''s the true leader.)","created_at":"2020-09-17T17:10:58.497Z","id":"5f6398a20816c70037ba289e","updated_at":"2021-06-23T15:58:44.617Z","url":"https://www.themoviedb.org/review/5f6398a20816c70037ba289e"},{"author":"r96sk","author_details":{"name":"","username":"r96sk","avatar_path":"/https://www.gravatar.com/avatar/96c2e0e4ac98450f9e8e3c0a0a40aad8.jpg","rating":9.0},"content":"Awesome!
        My new favourite, so far at least.\r\n\r\nWhat an absolute joy <em>''Captain
        America: Civil War''</em> is! It made 147 minutes feel like so much less.
        Great action, enthralling story, sharp humour and some impeccable use of the
        many, many characters; even introducing two new faces to the MCU. I won''t
        spoil who, but they are massive additions and I love what they give to this.\r\n\r\nIt
        gives the perfect amount of screen time to all involved, there is no-one I
        wanted to see more or less of - it all felt very natur[...]
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/3/reviews?api_key=<API Key>&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - ac98224751efa6fa856ca9b8225dbf51ffbf4579
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '16223'
      Last-Modified:
      - Fri, 25 Mar 2022 06:37:48 GMT
    body:
      encoding: UTF-8
      string: '{"id":3,"page":1,"results":[{"author":"CRCulver","author_details":{"name":"","username":"CRCulver","avatar_path":null,"rating":7.0},"content":"Released
        in 1986, Aki Kaurismaki''s <i>Varjoja paratiisissa</i> (Shadows in Paradise)
        is one of the Finnish filmmaker''s earliest efforts, and it stands as one
        of the most idiosyncratic romantic comedies of all time. The painfully shy
        Nikander (Matti Pellonpää), a garbage man, means the moody Ilona, a supermarket
        checkout girl. The film tracks their bumbling attempt to establish a lasting
        relationship: dates that end as soon as they''ve begun, a romantic getaway
        where they each retreat to separate hotel rooms, and rare conversations which
        employ the absolute bare minimum of words. Nikander''s best and only friend
        Melartin (Sakari Kuosmanen), whom the garbage man only recently met through
        a spell in jail, gives some needed encouragement.\r\n\r\nThe film''s soundtrack
        is rooted in early rock-and-roll, though unlike later Kaurismaki films where
        the characters seem to be living in a 1950s bubble, all the action takes place
        in contemporary Helsinki. I''ve criticized Kaurismaki''s vision of Finland
        in other films, but <i>Varjoja paratiisissa</i> does, in my opinion, accurately
        depict the collection of gloomy, taciturn binge drinkers that are the Finns.\r\n\r\n<i>Varjoja
        paratiisissa</i> is an early work and doesn''t show the confidence of later
        efforts, but it''s still quite entertaining, its leads and their struggles
        extremely charming, and I would recommend the film. Certainly the performances
        of Pellonpää (in a typical Pellonpää role) and Outinen (who seemingly reinvents
        herself in every film) will prove quite memorable.","created_at":"2018-09-06T19:31:51.288Z","id":"5b9180a7c3a3687adc005547","updated_at":"2021-06-23T15:58:12.193Z","url":"https://www.themoviedb.org/review/5b9180a7c3a3687adc005547"}],"total_pages":1,"total_results":1}'
  recorded_at: Thu, 13 Oct 2022 21:51:00 GMT
[...]
