---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=DONT SHOW MY API KEY&language=en-US&page=1&query=Impossible%20Things
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/zIbaXJwt13J6a3GmujN0nl6Cjcr.jpg","genre_ids":[10749,18],"id":435665,"original_language":"en","original_title":"Ava''s
        Impossible Things","overview":"When her mother makes a shocking request, sheltered
        Ava struggles with reality, escaping into a dream world where she summons
        up old friends and long forgotten desires.","popularity":2.555,"poster_path":"/3BdKWMbIekyK7Mk8qhuI7coE6JW.jpg","release_date":"2016-07-16","title":"Ava''s
        Impossible Things","video":false,"vote_average":5.3,"vote_count":13},{"adult":false,"backdrop_path":"/bxSBOAD8AuMHYMdW3jso9npAkgt.jpg","genre_ids":[10751,18],"id":667257,"original_language":"es","original_title":"Cosas
        imposibles","overview":"Matilde is a woman who, after the death of her husband
        - a man who constantly abused her - finds her new best friend in Miguel, her
        young, insecure, disoriented and even dealer neighbor","popularity":13.656,"poster_path":"/t2Ew8NZ8Ci2kqmoecZUNQUFDJnQ.jpg","release_date":"2021-06-17","title":"Impossible
        Things","video":false,"vote_average":8.5,"vote_count":266}],"total_pages":1,"total_results":2}'
  recorded_at: Tue, 06 Sep 2022 17:12:07 GMT
recorded_with: VCR 6.1.0
