---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated?api_key=<API Key>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        of bloody revenge.","popularity":100.336,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","release_date":"1972-03-14","title":"The
        Godfather","video":false,"vote_average":8.7,"vote_count":16719},{"adult":false,"backdrop_path":"/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Framed in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by [...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated?api_key=<API Key>&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":"/67HggiWaP9ZLv5sPYmyRV37yAJM.jpg","genre_ids":[35,18,10749],"id":13,"original_language":"en","original_title":"Forrest
        Gump","overview":"A man with a low IQ has accomplished great things in his
        life and been present during significant historic events—in each case, far
        exceeding what anyone imagined he could do. But despite all he has achieved,
        his one true love eludes him.","popularity":120.658,"poster_path":"/saHP97rTPS5eLmrLQEcANmKrsFl.jpg","release_date":"1994-06-23","title":"Forrest
        Gump","video":false,"vote_average":8.5,"vote_count":23421},{"adult":false,"backdrop_path":"/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg","genre_ids":[10749,35],"id":761053,"original_language":"en","original_title":"Gabriel''s
        Inferno: Part III","overview":"The final part of the film adaption of the
        erotic romance novel Gabriel''s Inferno written by an anonymous Canadian author
        under the pen name Sylvain Reynard. Watch Here : https://classic-blog.udn.com/mobile/aaef2970/177226874","popularity":26.221,"poster_path":"/fYtHxTxlhzD4QWfEbrC1rypysSD.jpg","release_date":"2020-11-19","title":"Gabriel''s
        Inferno: Part III","video":false,"vote_average":8.5,"vote_count":989},{"adult":false,"backdrop_path":"/sw7mo[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238?api_key=<API Key>&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 647ad0139961d413fe867b26138edd06a9b4ce4d
      X-Memc-Age:
      - '11551'
      X-Memc-Expires:
      - '5620'
      Etag:
      - W/"24160c3c311cf7ea7de88ecf570cdee7"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg","belongs_to_collection":{"id":230,"name":"The
        Godfather Collection","poster_path":"/9Baumh5J9N1nJUYzNkm0xsgjpwY.jpg","backdrop_path":"/3WZTxpgscsmoUk81TuECXdFOD0R.jpg"},"budget":6000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"http://www.thegodfather.com/","id":238,"imdb_id":"tt0068646","original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        of bloody revenge.","popularity":100.336,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","production_companies":[{"id":4,"logo_path":"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png","name":"Paramount","origin_country":"US"},{"id":10211,"logo_path":null,"name":"Alfran
        Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1972-03-14","revenue":245066411,"runtime":175,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Italian","iso_639_1":"it","name":"Italiano"},{"english_name":"Latin","iso_639_1":"la","name":"Latin"}],"status":"Released","tagline":"An
        offer you can''t refuse.","title":"The Godfather","video":false,"vote_average":8.715,"vote_count":16722,"credits":{"cast":[{"adult":false,"gender":2,"id":3084,"known_for_department":"Acting","name":"Marlon
        Brando","original_name":"Marlon Brando","popularity":21.167,"profile_path":"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg","cast_id":5,"character":"Don
        Vito Corleone","credit_id":"52fe422bc3a36847f8009357","order":0},{"adult":false,"gender":2,"id":1158,"known_for_department":"Acting","name":"Al
        Pacino","original_name":"Al Pacino","popularity":52.259,"profile_path":"/fMDFeVf0pjopTJbyRSLFwNDm8Wr.jpg","cast_id":6,"character":"Don
        Michael Corleone","credit_id":"52fe422bc3a36847f800935b","order":1},{"adult":false,"gender":2,"id":3085,"known_for_department":"Acting","name":"James
        Caan","original_name":"James Caan","popularity":24.487,"profile_path":"/bGyOCCOIgcIyKjOGLoXoyp0XWHf.jpg","cas[...]
