<%= button_to "Create New User", register_path, method: :get %>
<p>
<div id="user-list-home">
  <h3>Current Users</h3>
  <% @users.each do |user| %>
    <div id="user-<%="#{user.id}"%>">
      <%= link_to user.email, user_path(user) %><br>
    </div>
  <% end %>
</div>