<h1>Viewing Party</h1>

<% if !session[:user_id] %>
  <%= button_to 'Create New User', "/register", method: :get %><br>
  <%= link_to "Log In", '/login' %>
 <% else %>
  <%= link_to "Log Out", '/logout' %>
<% end %>

<% if session[:user_id] %>
  <% @users.each do |user| %>
    <p><%= user.email %></p> 
  <% end %>
<% end %>
 