<%= button_to "Create A New User", register_path, method: :get %>

<div id='users'>
  
<h2>Existing Users:</h2>
  <ul>
  <% @users.each do |user| %>
    <li><b>Name:</b> <%= user.name %><br><b>Email:</b> <%= link_to user.email, user_path(user) %> </li><br>
  <% end %>
  </ul>
</div>