
<div class="row">
  <div class="col d-flex justify-content-center mb-5">
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Create a New User</button>
  </div>
</div>
<%= render "partials/list_users" %>
