<h1>View Party</h1>

<p><%= button_to "Create New User", people_path %></p>

<h2>Current People</h2>
<% @people.each do |person| %>

  <p><%= link_to person.name, person_path(person.id) %></p>
<% end %>
