<center><h1>Viewing Party Lite<h1>
<div>
   <%= button_to 'Create a New User', '/register', method: :get  %><br>
</div>

<h3>Existing Users</h3>
<% @users.each_with_index do |user, index| %>
   <div id="user-<%= index %>">
      <p>User's name: <%= user.name %></p>
      <p>User's email: <%= link_to "#{user.name}'s Dashboard", "/users/#{user.id}" %></p>
   </div>
<% end %></center>