<h1>Viewing Party Light</h1>

<%= button_to "Create a New User", "/register", method: :get%>
<%= link_to "Log in", "/login"%>
<h2>Exisiting Users:</h2>
<% @users.each do |user| %>
    <%= link_to "#{user.email}'s Dashboard", "/users/#{user.id}", method: :get %>
    <br>
<% end %>
