<center>
  <h1>Welcome to Viewing Party!</h1>

  <% if current_user %>
  <%= button_to "Log Out", '/logout', method: :delete %>
<%  else %>
  <%= button_to "Log In", "/login", method: :get %>
<% end %><br>

  <%= button_to 'Create a New User', "/register", method: :get  %><br>

  <% if current_user %>
  <% @users.each do |user| %>
    <%= user.email %><br>
  <% end %>
<% end %>

</center>
