<body>
  <div class='flex-container'>
    <div class="flex-items" id="new_user_button">
      <%= button_to 'Create a New User', register_path, method: :get, class: 'button1' if session[:user_id] == nil%>
    </div><br><br>

  <% if session[:user_id] != nil %>
    <div class='flex-container' id="existing_users">
      <h3>Existing Users</h3>
      <ul class="demo">
        <% @users.each do |user| %>
          <li><%= "#{user.email}" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  </div>
</body>