<h1>Viewing Party Lite</h1>

<% if current_user %>
  <%= link_to "Log Out", "/logout", method: :delete%>
<% else %>
  <%=  button_to "Create User", "/register", method: :get %>
  <%= link_to "Login", "/login" %>
<% end %>
<% if !current_user %>
  <p>You must be logged in to the information below</p>
<% else %>
  <% @users.each do |user| %>
    <h3><%= user.email %></h3>
  <% end %>
<% end %>
