<%# <center>
<h1>Viewing Party Lite</h1>
</center> %>


<center>
<% if current_user %>
 <div class="welcome_back">
 <h1> Welcome back! </h1>
</div>

<section id="existing_users">
 <div class="welcome_back">
    <h3>Active Users</h3>
  </div>
  
  <% @users.each do |user| %>
    <section id="user_id-<%= user.id %>">
    <div class="container-sm">

      <ul class="list-group list-group-flush">
    <div class="user_container">
        <li class="list-group-item"><%= user.email %></li>
    </div>
      </ul>
    </div>

    </section>
    <% end %>

</section>
</center>
<% else  %>

<center>
 
   <div class="become_user_button">
    <form action="/register">
      <button id="dashboard_header" type="submit" class="btn btn-outline-primary">Become a User!</button>
    </form>
  </div>
</center>
<% end %>

