<%= button_to 'Create a New User', '/register', method: :get %>

<div id='existing-users'>
  <% @users.each do |user| %>
    <p><%= link_to "#{user.email}", "/users/#{user.id}" %></p>
  <% end %>
</div>