<h1>Viewing Party</h1>

<p><%= button_to "Create New User", '/register', method: :get, local: true %></p>

<div id="existingUsers">
  <% @users.each do |user| %>
    <p><%= link_to "#{user.name}", user_path(id: user.id) %></p>
  <% end %>
</div>
