<center>
<h3> <%= render partial: 'partials/buttons/create_user_button' %> </h3>
<h3>Existing Users: </h3>
<% @users.each_with_index do |user, index| %>
  <div id="user-<%= index %>">
    <%= link_to "#{user.email}'s Dashboard", "/users/#{user.id}" %>
  </div>  
<% end %>
</center>