

<p style="text-align:center;"><%= button_to "Create New User", '/register', method: :get, local: true %></p><br>
<p style="text-align:center;">Existing Users:</p>
<div id="existingUsers">
  <% @users.each do |user| %>
    <p style="text-align:center;"><%= link_to "#{user.name}", user_path(id: user.id) %></p>
  <% end %>
</div>
