<%= link_to 'Home', '/' %>

<h1 style= "text-align: center">Viewing Party Lite</h1>

<h2 style= "text-align: center" >Existing Users:</h2>

<% @users.each do |user| %>

<div id="user-<%= user.id%>">
  <p style= "text-align: center"><%= link_to "#{user.email}'s Dashboard", "/users/#{user.id}" %></p>
</div>

<% end %>

<%= button_to 'Create New User', '/register' %>
