<div class="row">
  <div class="col d-flex justify-content-center mb-5">

    <%= link_to "Create a New User", register_path, class: "btn btn-primary btn-lg px-4 gap-3", type: 'button' %>
  </div>
</div>
<%= render "partials/list_users" %>
