<h1>Viewing Party</h1>

<%= button_to "Create a New User", '/register', method: :get %>
<%= button_to "I already have an account", '/login', method: :get %>

<div class="existing_users">
  <p>Existing Users:</p>
  <% @users.each do |user| %>
  <p><%= link_to "#{user.email}'s Dashboard", "/users/#{user.id}" %></p>
  <% end %>
</div>
