<h1> Viewing Party! </h1>

<%= button_to "Create New User", "/register", method: :get%>
<% if current_user %>
  <%= button_to "Log Out", "/logout", method: :delete %>
<% else %>
  <%= button_to "Login", "/login", method: :get %>
<% end %>


<h3> All Users </h3>
<% @users.each do |user| %>
<p><%=link_to "#{user.name}", "/dashboard" %></p>
<% end %>
