<h1>Viewing Party Lite</h1>

<%= button_to "Create New User", '/register', method: :get %>


  <div class="registered">
    <% @users.each do |user| %>
      <p><%= user.name %></p>
      <p><%= user.email %></p>
    <% end %>
  </div>
