
<div class="row">
  <div class="col d-flex justify-content-center mb-5">
    <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Create a New User</button>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-lg-3 d-flex flex-column p-2 align-items-center">
    <h3>Existing Users</h3>
    <ul>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
      <li>User goes here</li>
    </ul>
  </div>
</div>
