<h1>Welcome to Viewing Party Lite!</h1>
<p>

<%= link_to "create new user", "/users/new" %>
</p>


<% @users.each do |user| %>
<%= link_to user.name, "/users/#{user.id}" %>
<%= user.email %>
<% end %>
