<h1>Viewing Party Lite</h1>

<%= button_to 'Create a New User', '/register', method: :get %>

<h3>Users</h3>
<% @users.each do |user| %>
<div id="user-<%= user.id %>">
  <p>Name: <%= link_to "#{user.name}", user_path(user.id) %></p>
  <p>Email: <%= user.email %></p>
</div>
<% end %>