<%= link_to "Home", root_path %>

<h1>Viewing Party Lite</h1>

<%= link_to "Create a New User", "/users/new" %>

<h3> Current Users </h3>

<% @users.each do |user| %>
  <div id="user-<%= user.id %>">
    <p><%= link_to "#{user.name}", user_path(user) %></p>
  </div>  
<% end %>
