<div class='d-flex align-items-center justify-content-center'>
  <h1>  Welcome to Viewing Party Lite!</h1>
</div>
<%= render partial: 'partials/navbar_welcome' %>
 <%= image_tag "movies_home.jpeg", height: 800 %>