<style>
  .button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .text {
      text-align: center;
    }
</style>
<body>
  <div class='container'>
    <%= button_to 'Create a New User', register_path, method: :get, class: 'button1' %>

    <div id="existing-users" class='text'>
      <h2>Existing Users</h2>
        <% @users.each do |user| %>
          <p><%= link_to "#{user.email}", user_path(user) %></p>
        <% end %>
    </div>
  </div>
</body>