<%= button_to "Create a New User", new_user_path, method: :get %>
<br>
<div id="user-list">
  <table class='center'>
    <tr><th>Existing Users:</th></tr>
    <% @users.each do |user| %>
    <tr><td class="user-dash-link">
      <%= link_to user.email, user_path(user), method: :get %>
    </td></tr>
    <% end %>
  </table>
</div>