<h1> Viewing Party</h1>

<%= button_to "Create New User", "/users/new", method: :post %> 
<br>
<% @users.each do |user|%>
  <p> <%= link_to "#{user.name}", "/users/#{user.id}", method: :get %> </p> 
<% end %>

