---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/3/credits?api_key=<API Key>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 1fc2ddf5da9490dcb7124f185c83e74ac9c80650
      X-Memc-Age:
      - '13758'
      X-Memc-Expires:
      - '3590'
      Etag:
      - W/"d03f7e9e95fd5dbd62c2729ffd0aac94"
    body:
      encoding: UTF-8
      string: '{"id":3,"cast":[{"adult":false,"gender":2,"id":4826,"known_for_department":"Acting","name":"Matti
        Pellonpää","original_name":"Matti Pellonpää","popularity":8.04,"profile_path":"/1Qzhkkp3wFE2NMGKVyOra9931q2.jpg","cast_id":5,"character":"Nikander","credit_id":"52fe420dc3a36847f8000087","order":0},{"adult":false,"gender":1,"id":5999,"known_for_department":"Acting","name":"Kati
        Outinen","original_name":"Kati Outinen","popularity":4.712,"profile_path":"/mi78e4O4hQBQygxVVtwXdV2xqiu.jpg","cast_id":6,"character":"Ilona
        Rajamäki","credit_id":"52fe420dc3a36847f800008b","order":1},{"adult":false,"gender":2,"id":4828,"known_for_department":"Acting","name":"Sakari
        Kuosmanen","original_name":"Sakari Kuosmanen","popularity":2.114,"profile_path":"/syM87lzV2IqFno87Za1PbeAUdMW[...]
