---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated?api_key=<API Key>&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg","genre_ids":[18,80],"id":238,"original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        of bloody revenge.","popularity":100.336,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","release_date":"1972-03-14","title":"The
        Godfather","video":false,"vote_average":8.7,"vote_count":16719},{"adult":false,"backdrop_path":"/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg","genre_ids":[18,80],"id":278,"original_language":"en","original_title":"The
        Shawshank Redemption","overview":"Framed in the 1940s for the double murder
        of his wife and her lover, upstanding banker Andy Dufresne begins a new life
        at the Shawshank prison, where he puts his accounting skills to work for an
        amoral warden. During his long stretch in prison, Dufresne comes to be admired
        by [...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated?api_key=<API Key>&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":"/67HggiWaP9ZLv5sPYmyRV37yAJM.jpg","genre_ids":[35,18,10749],"id":13,"original_language":"en","original_title":"Forrest
        Gump","overview":"A man with a low IQ has accomplished great things in his
        life and been present during significant historic events—in each case, far
        exceeding what anyone imagined he could do. But despite all he has achieved,
        his one true love eludes him.","popularity":120.658,"poster_path":"/saHP97rTPS5eLmrLQEcANmKrsFl.jpg","release_date":"1994-06-23","title":"Forrest
        Gump","video":false,"vote_average":8.5,"vote_count":23421},{"adult":false,"backdrop_path":"/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg","genre_ids":[10749,35],"id":761053,"original_language":"en","original_title":"Gabriel''s
        Inferno: Part III","overview":"The final part of the film adaption of the
        erotic romance novel Gabriel''s Inferno written by an anonymous Canadian author
        under the pen name Sylvain Reynard. Watch Here : https://classic-blog.udn.com/mobile/aaef2970/177226874","popularity":26.221,"poster_path":"/fYtHxTxlhzD4QWfEbrC1rypysSD.jpg","release_date":"2020-11-19","title":"Gabriel''s
        Inferno: Part III","video":false,"vote_average":8.5,"vote_count":989},{"adult":false,"backdrop_path":"/sw7mo[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=1&query=wayne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":616174,"original_language":"en","original_title":"John
        W[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=2&query=wayne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":393056,"original_language":"en","original_title":"Wayne
        Dyer: Excuses Begone!","overview":"People are forever using excuses and defending
        those excuses as if they were actually true. Such statements as ''It would
        be very difficult for me to change'', or ''I''m too old/young to change''
        are all excuses used regularly without challenging the truth of these thinking
        habits. When you eliminate excuses that explain your shortcomings or failures,
        you''ll awaken to your infinite possibilities.","popularity":0.872,"poster_p[...]
