<h1>Viewing Party!!(lite)</h1>

<%= button_to 'Create an Account', '/register', method: :get  %>

<% @users.each do |user| %>
    <p><%= link_to "#{user.name}'s Dashboard", user_path(user.id) %></p>
<% end %>
