<h1> Viewing Party </h1>

<%= form_with url: new_user_path, method: :get, local: true do |f| %>
  <%= f.submit "New User" %>
<% end %>

<section id="users">
<h3> Users </h3>
<% @users.each do |user| %>
  <li><%=link_to user.name, "/users/#{user.id}" %></li>
  <% end %>
</section>