<h1>Movie Madness</h1>

<h4><%= button_to 'New User', '/register', method: :get %></h4>

<h3>Existing Users</h3>
<% @users.each do |user| %>
  <p><%= link_to user.name, "/users/#{user.id}" %></p>
<% end %>
