
<section id="user_creation">
  <p> Not a member?<%= button_to "Register Here", "/register", method: :get %> <p>
</section>
<section id="current_users">
  <p>Current Users:</p>
  <ul>
    <% @users.each do |u| %>
      <li id="user-<%= u.id %>"><%= link_to "#{u.email}'s dashboard", user_path(u.id) %></li>
    <% end %>
  </ul>
</section>