---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/36600?api_key=DONT SHOW MY API KEY&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 2d4c0e64dbf6164209c97df60fbf699170be3080
      X-Memc-Age:
      - '16426'
      X-Memc-Expires:
      - '635'
      Etag:
      - W/"e9f51b55c1f8b29f37be406cf4e33234"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/e9n0sDkXTPz8CLXBEK1uo6janh3.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":27,"name":"Horror"},{"id":53,"name":"Thriller"}],"homepage":"","id":36600,"imdb_id":"tt0068596","original_language":"en","original_title":"The
        Flesh and Blood Show","overview":"Actors rehearsing a show at a mysterious
        seaside theater are being killed off by an unknown maniac.","popularity":1.931,"poster_path":"/4KNjXNOxareROutLC8WH9fMz2W1.jpg","production_companies":[{"id":17102,"logo_path":null,"name":"Peter
        Walker (Heritage) Ltd.","origin_country":""}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1972-10-01","revenue":0,"runtime":93,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"An
        appalling amalgam of carnage and carnality...","title":"The Flesh and Blood
        Show","video":false,"vote_average":5.667,"vote_count":24}'
  recorded_at: Fri, 14 Oct 2022 14:47:07 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/34601?api_key=DONT SHOW MY API KEY&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - '08f39500d8a35943308b700fca62eb437069b9b4'
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '15801'
      Last-Modified:
      - Tue, 07 Sep 2021 15:07:48 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/tQFiCSe4YYCrGYPiAyO1QEUG6X5.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":80,"name":"Crime"},{"id":18,"name":"Drama"},{"id":53,"name":"Thriller"}],"homepage":"","id":34601,"imdb_id":"tt0368343","original_language":"en","original_title":"Three
        Way","overview":"Lew is a small time loser with a troubled past and a very
        big secret. Overhearing a couple plan a kidnapping, Lew is tempted to come
        up with a scheme of his own. He decides to get to the victim first and then
        blackmail the real criminals. His plan soon spins out of control.","popularity":3.808,"poster_path":"/4sDNvHPwnCy6dQBU4FjSawNhrow.jpg","production_companies":[{"id":7339,"logo_path":null,"name":"Hyperion
        Pictures","origin_country":""},{"id":11658,"logo_path":"/hDKTXUEj1BR3Istbh2Zu5GOYvej.png","name":"Brainstorm
        Media","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2004-06-29","revenue":0,"runtime":88,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        sinfully tasty brew of sex, extortion and murder.","title":"Three Way","video":false,"vote_average":4.167,"vote_count":18}'
  recorded_at: Fri, 14 Oct 2022 14:47:07 GMT
[...]
