---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/keyword?api_key=<movie_api_key>&query=Marvel
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 51525c5c1a460a7ea73c3a69967d10533a08f347
      X-Memc-Age:
      - '306'
      X-Memc-Expires:
      - '21294'
      Etag:
      - W/"274f4cc55e9b9251f96e1d26a70279d4"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"name":"marvel cinematic universe (mcu)","id":180547},{"name":"marvel
        comics","id":265894},{"name":"ms marvel","id":294216}],"total_pages":1,"total_results":3}'
  recorded_at: Thu, 24 Mar 2022 02:23:40 GMT
recorded_with: VCR 6.1.0
