---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/378/images?api_key=<movie_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 71da901763ba0e1188045f248f47288b0fb97f01
      X-Memc-Age:
      - '8931'
      X-Memc-Expires:
      - '6546'
      Etag:
      - W/"5b3542efb21cf4b58d01c7a2f14a7fe6"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.778,"height":720,"iso_639_1":null,"file_path":"/cYOrsnmbZfPBmgchYghAmyn9B99.jpg","vote_average":5.312,"vote_count":1,"width":1280},{"aspect_ratio":1.778,"height":1152,"iso_639_1":null,"file_path":"/95cYzbSp13ChoUYlDwj1fPL4Q6X.jpg","vote_average":5.312,"vote_count":1,"width":2048},{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/kYB4Le7xjOckmiMGgroElQTZiwY.jpg","vote_average":5.246,"vote_count":2,"width":1920},{"aspect_ratio":1.778,"height":720,"iso_639_1":"en","file_path":"/9DXGqEHhqkYZOb9RLYNzX835jgT.jpg","vote_average":5.246,"vote_count":2,"width":1280},{"aspect_ratio":1.778,"height":1080,"iso_639_[...]
