---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/9614?api_key=<API Key>&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - f07e7cf447dc49f12681fadd230e66a70e7a86de
      X-Memc-Age:
      - '5505'
      X-Memc-Expires:
      - '9209'
      Etag:
      - W/"72a0bfbdc74ee8f28bc8da62b50e47a6"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/hhjHa5o45vRuLIpw98EA41yFtw7.jpg","belongs_to_collection":null,"budget":12000000,"genres":[{"id":35,"name":"Comedy"}],"homepage":"","id":9614,"imdb_id":"tt0116483","original_language":"en","original_title":"Happy
        Gilmore","overview":"Failed hockey player-turned-golf whiz Happy Gilmore --
        whose unconventional approach and antics on the grass courts the ire of rival
        Shooter McGavin -- is determined to win a PGA tournament so he can save his
        granny''s house with the prize money. Meanwhile, an attractive tour publicist
        tries to soften Happy''s image.","popularity":12.664,"poster_path":"/4RnCeRzvI1xk5tuNWjpDKzSnJDk.jpg","production_companies":[{"id":33,"logo_path":"/8lvHyhjr8oUKOOy2dKXoALWKdp0.png","name":"Universal
        Pictures","origin_country":"US"},{"id":1606,"logo_path":null,"name":"Brillstein-Grey
        Entertainment","origin_country":""},{"id":3929,"logo_path":null,"name":"Robert
        Simonds Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1996-02-16","revenue":41205099,"runtime":92,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"He
        doesn''t play golf... he destroys it.","title":"Happy Gilmore","video":false,"vote_average":6.616,"vote_count":2258,"credits":{"cast":[{"adult":false,"gender":2,"id":19292,"known_for_department":"Acting","name":"Adam
        Sandler","original_name":"Adam Sandler","popularity":26.473,"profile_path":"/gLkLCsQdwDDPabRhKPB25nGtKwS.jpg","cast_id":11,"character":"Happy
        Gilmore","credit_id":"52fe4511c3a36847f80ba93d","order":0},{"adult":false,"gender":2,"id":4443,"known_for_department":"Acting","name":"Christopher
        McDonald","original_name":"Christopher McDonald","popularity":16.37,"profile_path":"/gK1XhbfD9Xd8s3VXRPpgDCluyZp.jpg","cast_id":12,"character":"Shooter
        McGavin","credit_id":"52fe4511c3a36847f80ba941","order":1},{"adult":false,"gender":1,"id":31171,"known_for_department":"Acting","name":"Julie
        Bowen","original_name":"Julie Bowen","popularity":15.966,"profile_path":"/5ewqnbPAY0EzZObGH[...]
