---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/261/credits?api_key=e6707cffd878b1326a7ea9b2f7709b32
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 1f4242c1cb5c5003e3fd9c1629d5c58ab494f06b
      X-Memc-Age:
      - '9968'
      X-Memc-Expires:
      - '6287'
      Etag:
      - W/"07b75145c6ede524498053da8afec990"
    body:
      encoding: ASCII-8BIT
      string: '{"id":261,"cast":[{"adult":false,"gender":1,"id":3635,"known_for_department":"Acting","name":"Elizabeth
        Taylor","original_name":"Elizabeth Taylor","popularity":20.272,"profile_path":"/yorDFUiE5VYa8xnT6cD0KsugUd3.jpg","cast_id":4,"character":"Maggie","credit_id":"52fe422fc3a36847f800a6ab","order":0},{"adult":false,"gender":2,"id":3636,"known_for_department":"Acting","name":"Paul
        Newman","original_name":"Paul Newman","popularity":24.509,"profile_path":"/bP2fByqNR7BorsUNuD6nSm0u2vJ.jpg","cast_id":5,"character":"Brick","credit_id":"52fe422fc3a36847f800a6af","order":1},{"adult":false,"gender":2,"id":2753,"known_for_department":"Acting","name":"Burl
        Ives","original_name":"Burl Ives","popularity":10.363,"profile_path":"/eyx3PKEsmThQmrtTCpheiUeynCz.jpg","cast_id":6,"character":"[...]
