---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/420?api_key=<movies_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS
      X-Memc-Key:
      - 9e810cd9809fa532a382784f998f765a8e2b405a
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '17061'
    body:
      encoding: ASCII-8BIT
      string: '{"success":false,"status_code":34,"status_message":"The resource you
        requested could not be found."}'
  recorded_at: Wed, 12 Oct 2022 21:23:11 GMT
recorded_with: VCR 6.1.0
