---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/200?api_key=<movies_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 53f69bf4f650725c03ffdf165936beb4615be871
      X-Memc-Age:
      - '7278'
      X-Memc-Expires:
      - '9702'
      Etag:
      - W/"15cc2fb7cc0be1b2bf019dd2b8208380"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/goNk0VDnUjxKjB6o69kYS5vvZo2.jpg","belongs_to_collection":{"id":115570,"name":"Star
        Trek: The Next Generation Collection","poster_path":"/jYtNUfMbU6DBbmd4LUS19u4hF4p.jpg","backdrop_path":"/r7MMQenUURHhAVHFymtOb8AX4Bm.jpg"},"budget":70000000,"genres":[{"id":878,"name":"Science
        Fiction"},{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":53,"name":"Thriller"}],"homepage":"","id":200,"imdb_id":"tt0120844","original_language":"en","original_title":"Star
        Trek: Insurrection","overview":"When an alien race and factions within Starfleet
        attempt to take over a planet that has \"regenerative\" properties, it falls
        upon Captain Picard and the crew of the Enterprise to defend the planet''s
        people as well as the very ideals upon which the Federation itself was founded.","popularity":23.153,"poster_path":"/xQCMAHeg5M9HpDIqanYbWdr4brB.jpg","production_companies":[{"id":4,"logo_path":"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png","name":"Paramount","origin_country":"US"},{"id":76068,"logo_path":null,"name":"Digital
        Image Associates","origin_country":""}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1998-12-11","revenue":118000000,"runtime":103,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"The
        battle for paradise has begun.","title":"Star Trek: Insurrection","video":false,"vote_average":6.436,"vote_count":961}'
  recorded_at: Sun, 23 Oct 2022 20:06:14 GMT
[...]
