@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
  color: #364047;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  padding: 5rem;
  max-width: 1200px;
}

img {
  width: 200px;
  height: 300px;
}

h1 {
  margin: 1rem 0;
  font-size: 3rem;
  color: #364047;
}

h2 {
  margin: 1rem 0;
  font-size: 2rem;
  color: #364047;
}

h3 {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #364047;
}

a {
  color: #364047;
  box-shadow: 0 -0.2em 0 #2e75b390 inset;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  transition: 1s;
  box-shadow: 0 -0.5em 0 #8ec07c50 inset;
}

table {
  width: 60%;
}

td {
  padding: .5rem;
}

#buttons-row {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}

#new-user-button {
  flex: 1;
}

#login-button {
  flex: 1;
}

#movie-search {
  padding-top: 1rem;
}

#discover-page-button {
  flex: 1;
}

#create-party-button {
  flex: 1;
}

#movie-information {
  display: flex;
}

#movie-info-piece {
  flex: 1;
}

#user-list {
  display: flex;
}

#user { 
  flex: 1;
}

#invited-parties {
  border:#364047 1px solid;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

#hosted-parties {
  border:#364047 1px solid;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}

#a-party {
  flex: 1;
}

#summary {
  display: block;
  text-align: left;
}

#review-information {
  display: block;
  text-align: left;
}

#cast-information {
  display: block;
  text-align: left;
}

#viewing-party-details {
  padding: 1rem;
  display: block;
  align-content: center;
  border: 1px solid #364047;  
  width: 80%;
  height: 80%;
}
