// Custom bootstrap variables must be set or imported *before* bootstrap.
// @import "bootstrap";

body {
  font-family: sans-serif;
  background: url('FilmReel.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}
