/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#movie-information {
  display: flex;
}

#movie-info-piece {
  flex: 1;
}

#user-list {
  display: flex;
}

#user {
  flex: 1;
}

#invited-parties {
  display: flex;
}

#hosted-parties {
  display: flex;
}

#a-party {
  flex: 1;
}

#viewing-party-details {
  padding: 1rem;
  display: block;
  align-content: center;
  border: 1px solid #364047;  
  width: 80%;
  height: 80%;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

html {
  background-color: #f0f0f0;
  color: #364047;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

img {
  width: 200px;
  height: 300px;
}

h1 {
  margin: 1rem 0;
  font-size: 3rem;
  color: #364047;
}

h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #364047;
}

h3 {
  margin: 1rem 0;
  font-size: 1.25rem;
  color: #364047;
}

a {
  color: #364047;
  box-shadow: 0 -0.2em 0 #2e75b390 inset;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  transition: 1s;
  box-shadow: 0 -0.5em 0 #8ec07c50 inset;
}