/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
@font-face {
  font-family: 'Titan One';
  src: url('/assets/Titan_One.TitanOne-Regular.ttf')
}
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&family=Titan+One&display=swap');

.list-group-item {
  background-color: rgba(188, 140, 242, 0.575);
  font-family: 'Anek Latin';
  margin: 5px;
  font-size: 1.3em;
}

.list-group {
  width: 50%;
  border-radius: 66px;
}


.btn-outline-primary {
   background-color: rgb(43, 172, 170);
   color: rgb(170, 162, 155)
  
 }

//all pages
body {
  background-color: rgb(183, 179, 174);
}

//root
.title {
  // border: 2px solid rgb(188, 140, 242);
  margin: 15px;
  // width: 25%;

  h1 { 
  font-family: 'Titan One';
  font-size: 4.5em;
  border: 5px solid rgb(188, 140, 242);
  margin-left: 215px;
  margin-right: 215px;
  padding: 20px;
  border-radius: 50px;
  }
}
.become_user_button {
  padding: 100px;
}

.welcome_back {
  h1{
  font-family: 'Titan One';
  font-size: 3em;
  }
  h3{
  font-family: 'Titan One';
  font-size: 2em;
  }

}



//dashboard



