/*
*= require_tree .
*= require_self
*/

#home {
  background: url('movie-film-reel.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
