/*
*= require_tree .
*= require_self
*/

header {
  font-family: 'Limelight', cursive;
  margin: auto;
  text-align: center;
  font-size: 58px;
  width: 50%
}

ul {
  min-width: 95%;
  justify-content: space-between
}

ul li {
  font-family: 'Oswald', sans-serif;
  list-style: none;
  display: inline-block;
  justify-content: flex-end;
  font-size: 20px;
  padding: 5px;
}

li a {
  text-decoration: none;
}
