---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/24021?api_key=Sike you thought
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - Sike you thought
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 6c0639b760633039387284a27f8730ee80d57205
      X-Memc-Age:
      - '3174'
      X-Memc-Expires:
      - '11535'
      Etag:
      - W/"58b91f6f9a9ac1d814731f0f68f9194f"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/r4OqScx7hVXsG1obaJjJKJNaxHT.jpg","belongs_to_collection":{"id":33514,"name":"The
        Twilight Collection","poster_path":"/aKAX2HO5V94JYeSIkOMFNlRI71E.jpg","backdrop_path":"/kriNR9A8Lhk2tFzbVQkhepXymEr.jpg"},"budget":68000000,"genres":[{"id":12,"name":"Adventure"},{"id":14,"name":"Fantasy"},{"id":18,"name":"Drama"},{"id":10749,"name":"Romance"}],"homepage":"http://eclipsethemovie.com","id":24021,"imdb_id":"tt1325004","original_language":"en","original_title":"The
        Twilight Saga: Eclipse","overview":"Bella once again finds herself surrounded
        by danger as Seattle is ravaged by a string of mysterious killings and a malicious
        vampire continues her quest for revenge. In the midst of it all, she is forced
        to choose between her love for Edward and her friendship with Jacob, knowing
        that her decision has the potential to ignite the ageless struggle between
        vampire and werewolf. With her graduation quickly approaching, Bella is confronted
        with the most important decision of her life.","popularity":173.793,"poster_path":"/3mFM80dPzSqoXXuC2UMvLIRWX32.jpg","production_companies":[{"id":491,"logo_path":"/rUp0lLKa1pr4UsPm8fgzmnNGxtq.png","name":"Summit
        Entertainment","origin_country":"US"},{"id":12292,"logo_path":"/llGRXF5WYUW2fzXg0ebCoKMXjmT.png","name":"Temple
        Hill Entertainment","origin_country":"US"},{"id":5218,"logo_path":"/dhb42ugM9DzSpDctTWCtABPVOW4.png","name":"Imprint
        Entertainment","origin_country":"US"},{"id":4000,"logo_path":null,"name":"Maverick
        Films","origin_country":"US"},{"id":5219,"logo_path":null,"name":"Sunswept
        Entertainment","origin_country":""}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2010-06-23","revenue":698491347,"runtime":124,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"It
        all begins... with a choice.","title":"The Twilight Saga: Eclipse","video":false,"vote_average":6.2,"vote_count":7508}'
  recorded_at: Tue, 24 May 2022 21:12:01 GMT
[...]
