---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/36685?api_key=<movie_db_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 945770bc5c1725a8a608bc7b415179417cdece6a
      X-Memc-Age:
      - '35'
      X-Memc-Expires:
      - '15965'
      Etag:
      - W/"0e4a5b9f3b4648bd40c18a3c8a92033e"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/5DU39tmUzbXtD6UXgm7iZqxpwoV.jpg","belongs_to_collection":{"id":694606,"name":"The
        Rocky Horror Picture Show Collection","poster_path":"/aZJ0gncaRSywxR6yZLAeQYoDpkQ.jpg","backdrop_path":"/oPmhtP3C6rOkAJ55tcmCXOPFVOX.jpg"},"budget":1200000,"genres":[{"id":35,"name":"Comedy"},{"id":878,"name":"Science
        Fiction"},{"id":14,"name":"Fantasy"},{"id":27,"name":"Horror"}],"homepage":"http://www.rockyhorror.com","id":36685,"imdb_id":"tt0073629","original_language":"en","original_title":"The
        Rocky Horror Picture Show","overview":"Sweethearts Brad and Janet, stuck with
        a flat tire during a storm, discover the eerie mansion of Dr. Frank-N-Furter,
        a transvestite scientist. As their innocence is lost, Brad and Janet meet
        a houseful of wild characters, including a rocking biker and a creepy butler.
        Through elaborate dances and rock songs, Frank-N-Furter unveils his latest
        creation: a muscular man named ''Rockv''.","popularity":26.588,"poster_path":"/3pyE6ZqDbuJi7zrNzzQzcKTWdmN.jpg","production_companies":[{"id":25,"logo_path":"/qZCc1lty5FzX30aOCVRBLzaVmcp.png","name":"20th
        Century Fox","origin_country":"US"},{"id":463,"logo_path":null,"name":"Michael
        White Productions","origin_country":"GB"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1975-08-14","revenue":112892319,"runtime":100,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        different set of jaws.","title":"The Rocky Horror Picture Show","video":false,"vote_average":7.521,"vote_count":2329}'
  recorded_at: Thu, 13 Oct 2022 21:59:08 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/36685/images?api_key=<movie_db_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 3134251baf77e8d105747fcb43145360745c7d6c
      X-Memc-Age:
      - '11960'
      X-Memc-Expires:
      - '3118'
      Etag:
      - W/"58da7fb6433d8712dd44d51601f5a53d"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrops":[{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/5DU39tmUzbXtD6UXgm7iZqxpwoV.jpg","vote_average":5.252,"vote_count":4,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/idGAfZk98uBkiY4R1qO5fnacanW.jpg","vote_average":5.246,"vote_count":2,"width":1920},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/xPGiAPvneeicUxvJJfBpdnO99s.jpg","vote_average":5.246,"vote_count":2,"width":3840},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/cuBWaK5Y1QUcQVapm44YNH5rrhg.jpg","vote_average":5.246,"vote_count":2,"width":1920},{"aspect_ratio":1.778,"height":2160,"iso_639_1":null,"file_path":"/iIM5765g6PJniZ9LgSiqt7iaFde.jpg","vote_average":5.246,"vote_count":2,"width":3840},{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/gZKkhongmStqTdWuBSgTUfnFRRp.jpg","vote_average":5.172,"vote_count":1,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":null,"file_path":"/meQtnEJ4HUFBQXKnJGJ5JzbB6cj.jpg","vote_average":5.106,"vote_count":2,"width":1920},{"aspect_ratio":1.778,"height":1080,"iso_639_1":"en","file_path":"/1IzJoIVnnpphKxvyv9cWRxDvyDp.jpg","vote_average":5.106,"vote_count":2,"width":1920},{"aspect_ratio":1.778,"height":2160,"iso_639_1":"en","file_path":"/ArCg0OfpzfWuHNSBdxiDA8adVno.jpg","vote_average":0.0,"vote_count":0,"width":3840}],"id":36685,"logos":[{"aspect_ratio":2.01,"height":298,"iso_639_1":"en","file_path":"/1GEdwlz6EGCVmAvXBF36OB7bMo7.png","vote_average":5.312,"vote_count":1,"width":599},{"aspect_ratio":6.398,"height":374,"iso_639_1":"en","file_path":"/l52z5fMh6yHJwncD7J20seXQOTN.png","vote_average":0.0,"vote_count":0,"width":2393},{"aspect_ratio":2.006,"height":718,"iso_639_1":"en","file_path":"/8I9Cv0puMUx8xhNXPTCCHCvV6uy.png","vote_average":0.0,"vote_count":0,"width":1440}],"posters":[{"aspect_ratio":0.667,"height":1500,"iso_639_1":"en","file_path":"/3pyE6ZqDbuJi7zrNzzQzcKTWdmN.jpg","vote_average":5.458,"vote_count":13,"width":1000},{"aspect_ratio":0.667,"height":1200,"iso_639_1":"it","file_path":"/5ycpwyUkYBwm2VFoE3TkP3OtuFw.jpg","vote_average":5.384,"vote_count":2,"width":800},{"aspect_ratio":0.667,"height":2100,"iso_639_1":"en","file_path":"/8QCNX4oxfO7xyASvJ0fnTFrqXsC.jpg","vote_average":5.326,"vote_count":7,"width":1400},{"aspect_ratio":0.675,"height":2963,"iso_639_1":"[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/36685/credits?api_key=<movie_db_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - e34e6c2c9a52943b985ba60bffe919521a8dcd00
      X-Memc-Age:
      - '7843'
      X-Memc-Expires:
      - '7688'
      Etag:
      - W/"e22bd58f292e7e3c738d03d644d8ea9d"
    body:
      encoding: ASCII-8BIT
      string: '{"id":36685,"cast":[{"adult":false,"gender":2,"id":13472,"known_for_department":"Acting","name":"Tim
        Curry","original_name":"Tim Curry","popularity":33.662,"profile_path":"/aWGnGa7scPeGCP5DRhHosTrYdfA.jpg","cast_id":8,"character":"Dr.
        Frank-N-Furter","credit_id":"52fe46029251416c91045ee7","order":0},{"adult":false,"gender":1,"id":4038,"known_for_department":"Acting","name":"Susan
        Sarandon","original_name":"Susan Sarandon","popularity":21.481,"profile_path":"/oHYYL8bNakAREaLUBtMul5uMG0A.jpg","cast_id":1,"character":"Janet
        Weiss","credit_id":"52fe46019251416c91045ecb","order":1},{"adult":false,"gender":2,"id":13473,"known_for_department":"Acting","name":"Barry
        Bostwick","original_name":"Barry Bostwick","popularity":13.3,"profile_path":"/z2jlL5g5PMxelSHMXFF03fTSsLl.j[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/36685/reviews?api_key=<movie_db_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 28c6efbcf0d91c297e3dd57a88df7975bab3c39a
      X-Memc-Age:
      - '2794'
      X-Memc-Expires:
      - '15166'
      Etag:
      - W/"87cbf29fd0efeb5f1f25e4bfb8476021"
    body:
      encoding: ASCII-8BIT
      string: '{"id":36685,"page":1,"results":[{"author":"tricksy","author_details":{"name":"","username":"tricksy","avatar_path":null,"rating":null},"content":"Moving
        on from the riotous cult stage show which was born in a small studio theatre
        in the early 70s, this movie version is a well-cast, outrageous romp showcasing
        the absurdity and sci-fi obsession of Richard O''Brien''s inventive musical.\r\n\r\nThe
        small cast - the wonderful Tim Curry as Frank ''n Furter (the sweet transvestite
        from transsexual Transylvania''); Barry Bostwick and Susan Sarandon as the
        odd science students Brad and Janet; Patricia Quinn as Magenta (''a domestic'');
        Little Nell as Columbia (''a groupie''), Jonathan Adams as Dr Scott; Meat
        Loaf as Eddie; Richard O''Brien himself as the handyman Riff Raff; Peter Hinwood
        as the muscle man Rocky, created by Frank in a spoof on Frankenstein; and
        Charles Gray having a great time as the Criminologist - are all really good,
        and the songs are terrific, from the madness of ''The Timewarp'' and ''Sweet
        Transvestite'', to the ethereal ''There''s a Light'' and ''I''m Going Home'',
        by way of the rocky ''Whatever Happened To Saturday Night?'' and the film-reference
        heavy ''Science Fiction Double Feature''.\r\n\r\nGreat, great fun and the
        floor show sequence in particular, showcasing Frank''s obsession with Fay
        Wray and the RKO cheapies, is exceptional, with its statues in basques and
        its huge swimming pool. Trash, yes, but classy trash, and most enjoyable.","created_at":"2015-06-10T04:32:48.391Z","id":"5577bdf09251413e3e0009cb","updated_at":"2021-06-23T15:57:35.067Z","url":"https://www.themoviedb.org/review/5577bdf09251413e3e0009cb"},{"author":"Peter89Spencer","author_details":{"name":"","username":"Peter89Spencer","avatar_path":"/https://www.gravatar.com/avatar/dadb1b759a8516c815cdcc58abcefc85.jpg","rating":8.0},"content":"A
        time(warp)less classic!","created_at":"2021-06-03T09:00:33.632Z","id":"60b89a31899da2006f0afb43","updated_at":"2021-06-23T15:58:56.536Z","url":"https://www.themoviedb.org/review/60b89a31899da2006f0afb43"}],"total_pages":1,"total_results":2}'
  recorded_at: Thu, 13 Oct 2022 21:59:09 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/286/reviews?api_key=<movie_db_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - d9b0dcfc6d7516adf6d9ce16cebeb9d7d67a6f12
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '16433'
      Last-Modified:
      - Sun, 08 Dec 2019 11:12:08 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":286,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 13 Oct 2022 21:59:12 GMT
[...]
