---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238?api_key=<API Key>&append_to_response=credits,reviews
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"db54bf30b33d80838299f597c3866e79"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","belongs_to_collection":{"id":230,"name":"The
        Godfather Collection","poster_path":"/9Baumh5J9N1nJUYzNkm0xsgjpwY.jpg","backdrop_path":"/3WZTxpgscsmoUk81TuECXdFOD0R.jpg"},"budget":6000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"http://www.thegodfather.com/","id":238,"imdb_id":"tt0068646","original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        of bloody revenge.","popularity":116.702,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","production_companies":[{"id":4,"logo_path":"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png","name":"Paramount","origin_country":"US"},{"id":10211,"logo_path":null,"name":"Alfran
        Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1972-03-14","revenue":245066411,"runtime":175,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Italian","iso_639_1":"it","name":"Italiano"},{"english_name":"Latin","iso_639_1":"la","name":"Latin"}],"status":"Released","tagline":"An
        offer you can''t refuse.","title":"The Godfather","video":false,"vote_average":8.711,"vote_count":17756,"credits":{"cast":[{"adult":false,"gender":2,"id":3084,"known_for_department":"Acting","name":"Marlon
        Brando","original_name":"Marlon Brando","popularity":17.907,"profile_path":"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg","cast_id":5,"character":"Vito
        Corleone","credit_id":"52fe422bc3a36847f8009357","order":0},{"adult":false,"gender":2,"id":1158,"known_for_department":"Acting","name":"Al
        Pacino","original_name":"Al Pacino","popularity":46.352,"profile_path":"/fMDFeVf0pjopTJbyRSLFwNDm8Wr.jpg","cast_id":6,"character":"Michael
        Corleone","credit_id":"52fe422bc3a36847f800935b","order":1},{"adult":false,"gender":2,"id":3085,"known_for_department":"Acting","name":"James
        Caan","original_name":"James Caan","popularity":19.889,"profile_path":"/v3flJtQEyczxENi29yJyvnN6LVt.jpg","cast_id[...]
