<h1>Discover Movies</h1>

<%= button_to "Find Top Rated Movies", user_movies_path, method: :get, params: { q: 'top_rated' }  %>

<p>OR</p>

<%= form_with url: user_movies_path, method: :get, local: :true do |f|  %>
  <%= f.text_field :q, value: "Search by movie title" %>
  <%= f.submit "Find Movies" %>
<% end %>
