<h1>Discover Page</h1>

<h2><%= button_to "Top Movies", "/users/#{@user.id}/movies?q=top%20rated", method: :get %></h2>

<h2>Search for Movie:</h2>
<%= form_with url: "/users/#{@user.id}/movies?q=keyword", method: :get, local: true do |f| %>
  <%= f.text_field :keyword %>
  <%= f.submit "Search"%>
<% end %>
