
<%= button_to "Create a New User", "/register", method: :get %>

<br><br>

<% @users.each do |user| %>
  <div id="user-<%="#{user.id}"%>">
  <%= link_to "#{user.name}", user_path(user.id) %>
  </div>
<% end %>
