---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/235?api_key=movie_api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - bd47d7090422719b97b5a9d44adfcc048b231b07
      X-Memc-Age:
      - '6740'
      X-Memc-Expires:
      - '10017'
      Etag:
      - W/"7a5ff04c178b618bdeb8eb557d516738"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/7sFjHJSPMjWS7OdeceTzz2ojKB7.jpg","belongs_to_collection":null,"budget":8000000,"genres":[{"id":80,"name":"Crime"},{"id":18,"name":"Drama"}],"homepage":"","id":235,"imdb_id":"tt0092005","original_language":"en","original_title":"Stand
        by Me","overview":"Gordie, Chris, Teddy and Vern are four friends who decide
        to hike to find the corpse of Ray Brower, a local teenager, who was hit by
        a train while plucking blueberries in the wild.","popularity":22.066,"poster_path":"/vz0w9BSehcqjDcJOjRaCk7fgJe7.jpg","production_companies":[{"id":5,"logo_path":"/71BqEFAF4V3qjjMPCpLuyJFB9A.png","name":"Columbia
        Pictures","origin_country":"US"},{"id":56485,"logo_path":"/t0M92JDUfcICcOB46NHxEOhK1FS.png","name":"Act
        III Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1986-08-08","revenue":52287414,"runtime":89,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"For
        some, it''s the last real taste of innocence, and the first real taste of
        life.","title":"Stand by Me","video":false,"vote_average":7.9,"vote_count":4492}'
  recorded_at: Thu, 24 Mar 2022 01:21:51 GMT
[...]
