---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<api_key>&include_adult=false&language=en-US&page=1&query=AJKJSJKSKJSKJ:KJ:KJSDFKJDF!
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<api_key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 07 Sep 2022 19:25:30 GMT
recorded_with: VCR 6.1.0
