---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/100/credits?api_key=<fake_api_key>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c41ce48095c7537b31baa5d45023f7d60a0f8887
      X-Memc-Age:
      - '1741'
      X-Memc-Expires:
      - '12922'
      Etag:
      - W/"f6bc8e3b9206dbad39cc427d853319ea"
    body:
      encoding: ASCII-8BIT
      string: '{"id":100,"cast":[{"adult":false,"gender":2,"id":973,"known_for_department":"Acting","name":"Jason
        Flemyng","original_name":"Jason Flemyng","popularity":17.549,"profile_path":"/6E5KfjDwm00jIfN3LNLL9jZAvx3.jpg","cast_id":12,"character":"Tom","credit_id":"52fe4217c3a36847f80035fb","order":0},{"adult":false,"gender":2,"id":974,"known_for_department":"Acting","name":"Dexter
        Fletcher","original_name":"Dexter Fletcher","popularity":5.893,"profile_path":"/yRI8MDB5sg8b8EZkzFz5cCBrnKL.jpg","cast_id":13,"character":"Soap","credit_id":"52fe4217c3a36847f80035ff","order":1},{"adult":false,"gender":2,"id":975,"known_for_department":"Acting","name":"Nick
        Moran","original_name":"Nick Moran","popularity":3.703,"profile_path":"/kfWebCAm72JBZLXcNbA2Myr950E.jpg","cast_id":14,"chara[...]
