---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API Key>&page=1&query=Wayne
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 6a63a9ff31684742f83f4cf4b27f1110
      X-Memc-Age:
      - '20046'
      X-Memc-Expires:
      - '5688'
      Etag:
      - W/"e381dc05e91b4d725f7b58f0644c5fe2"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/aNv2y7O9CiVysW2fVAFANuchYsg.jpg","genre_ids":[99],"id":535222,"original_language":"en","original_title":"Wayne","overview":"Wayne
        tells the exhilarating story of 1987 World Motorcycle Grand Prix Champion
        Wayne Gardner''s triumphant, improbable journey from a 5-dollar dirt bike
        to the international summit of his sport.","popularity":1.359,"poster_path":"/asq5fP7bKhfuTynhsmUdgs0PvJy.jpg","release_date":"2018-09-06","title":"Wayne","video":false,"vote_average":6.0,"vote_count":4},{"adult":false,"backdrop_path":null,"genre_ids":[80],"id":392468,"original_language":"en","original_title":"Wayne","overview":"Shadowed
        by a lifetime of brutal mistreatment, Wayne has a tendency to violently lash
        out when provoked. Recently released from prison, he has taken up residence
        in the bowels of a dilapidated theatre where he works the night shift as a
        janitor. With the help of his do-gooder social worker, Wayne is committed
        to controlling his [...]
[...]
