 <div class="btn btn-outline-primary">
  <%= link_to "Home", "/", method: :get %>
 </div>

 <% if current_user %>
  <div class="btn btn-outline-primary">
    <%= link_to 'My Dashboard', '/dashboard' %>
  </div>
<% end %>