<div class="container">
  <div class="row">
    <div class="col-12 pt-4 pb-3 border-bottom">
      <div class="float-end">
        <%= link_to "Home", root_path, class: "btn btn-primary" %>
      </div>
      <p class="h2"> <%=link_to "Friends and Movies", root_path, class: "nav-link"%> </p>

    </div>
  </div>
</div>
